%h2= I18n.t('devise_views.confirmations.title')
%p.lead= I18n.t('devise_views.confirmations.lead')

= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification
      = f.full_error :confirmation_token

  .form-inputs
    = f.input :email, required: true, autofocus: true

  .form-actions
    = f.button :submit, I18n.t('devise_views.confirmations.action'), class: 'btn btn-primary'

= render 'devise/shared/links'
