= simple_form_for([:broker, @seeker], html: { novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  %fieldset
    .form-inputs
      = f.input :status, as: :radio_buttons, collection: [{value: 'inactive', label: 'Inaktiv'}, {value: 'active', label: 'Aktiv'}, {value: 'completed', label: 'Beendet'}], label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, label: false, inline_label: '', item_wrapper_class: 'radio-inline'

  %fieldset
    %legend
      = "JugendlicheR"
    .form-inputs.form-inline
      = f.input :firstname, required: true, label: false
      = f.input :lastname, required: true, label: false

  %fieldset
    %a{href: '#'}
      %i.fa.fa-envelope
      = "Nachricht senden"

  %fieldset
    .form-inputs
      = f.input :email, required: true, autofocus: true

      - if @seeker.new_record?
        = f.input :password, required: true, autocomplete: 'off'
        = f.input :password_confirmation, required: true
      -#- else
      -#  = f.input :password, required: false, autocomplete: 'off', hint: t('devise_views.leave_empty')
      -#  = f.input :password_confirmation, required: false
      = f.input :mobile, required: true
      = f.input :date_of_birth, required: true, start_year: Date.today.year - 18, end_year: Date.today.year - 13, include_blank: true
      = f.input :sex, collection: seeker_sex, include_blank: false

  %fieldset
    .form-inputs
      = f.input :street, required: true
      = f.association :place, required: true, collection: current_region.places.order(:full_name), include_blank: false, label_method: :full_name

  %fieldset
    .form-inputs
      = f.association :work_categories, as: :check_boxes

  %fieldset
    %legend
      = "Zuständige Organisation"
    .form-inputs
      = f.association :organization, required: true, include_blank: false, label: false, collection: current_region.organizations.order(:name).distinct

  .form-actions
    - if @seeker.new_record?
      = f.button :submit, t('common.create'), class: 'btn btn-primary btn-success'
    - else
      = f.button :submit, t('common.edit'), class: 'btn btn-primary btn-success'
