- for message in @messages
  %div.row
  - if message['from_ji_user_id'] == "#{@seeker.app_user_id}"
    %div.col-sm-8.align-left
      %h5.grey= DateTime.strptime(message['datetime'], '%s').in_time_zone.strftime('%d.%m.%Y,%H:%M')
      %h4.bold= message['title']
      %p
        - if message['message'] != nil
          = message['message'].html_safe
      %br
    %div.col-sm-4
  - else
    %div.col-sm-4
    %div.col-sm-8.align-left.message
      %h5.grey= DateTime.strptime(message['datetime'], '%s').in_time_zone.strftime('%d.%m.%Y,%H:%M')
      %h4.bold= message['title']
      %p
        - if message['message'] != nil
          = message['message'].html_safe
      %br
