- for message in @messages
  %div.row
  - if message.dig(:u, :username) == @seeker.rc_username
    %div.col-sm-8.align-left
      %h5.grey= message[:datetime].in_time_zone.strftime('%d.%m.%Y,%H:%M')
      %h4.bold= MessagingHelper::return_proper_title(message['title'])
      %p.pre-line
        - if message[:message] != nil
          = message[:message].html_safe
      %br
    %div.col-sm-4
  - else
    %div.col-sm-4
    %div.col-sm-8.align-left.message
      %h5.grey= message[:datetime].in_time_zone.strftime('%d.%m.%Y,%H:%M')
      %h4.bold= MessagingHelper::return_proper_title(message['title'])
      %p.pre-line
        - if message[:message] != nil
          = message[:message].html_safe
      %br
