%div.modal.fade{id: "pdf_message_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Elterneinverständnis als Pdf schicken"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @seeker.name
          = ":"
        %div.form-control.resize-vertical.textarea{contenteditable: true}
          = "Hallo #{@seeker.firstname}"
          %br
          = "Willkommen bei Small.Jobs!"
          %br
          = "Damit du dich auf Jobs bewerben kannst, brauchen wir das Einverständnis deiner Eltern. Dieses Einverständnis bitte hier herunterladen: "
          %a{href: "#{url_for agreement_broker_seeker_url(@seeker)}?format=pdf"}= "#{url_for agreement_broker_seeker_url(@seeker)}?format=pdf"
          %br
          = "Dann ausdrucken und uns vorbeibringen:"
          %br
          = @seeker.organization.name
          %br
          = @seeker.organization.street
          %br
          = @seeker.organization.place.custom_name
          %br
          = "Für einen Termin schreibe uns hier oder ruf an "
          %a{href: "tel:#{@seeker.organization.phone}"}= @seeker.organization.phone
          %br
          %br
          = "Danke,"
          %br
          = @seeker.organization.name
        %br
        - if @seeker.app_user_id.nil?
          %p
            = "Keine App für Messaging installiert. Per Telefon Kontakt aufnehmen"
            %a{href: "tel:#{@seeker.mobile}"}
              = @seeker.mobile
        %button.btn.btn-success.btn-send
          = "Elterneinverständnis als Pdf schicken"
      %div.modal-footer
        = render 'messages'