%div.modal.fade.js-pdf-message-modal{id: "pdf_message_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Elterneinverständnis als Pdf schicken"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @seeker.name
          = ":"
        %div.form-control.resize-vertical.textarea{contenteditable: true}
          = "Hallo #{@seeker.firstname}"
          %br
          = "Willkommen bei Small.Jobs!"
          %br
          = "Damit du dich auf Jobs bewerben kannst, brauchen wir das Einverständnis deiner Eltern. Dieses Einverständnis bitte hier herunterladen: "
          %br
          - if ENV['ROCKET_CHAT_URL'].blank?
            %a{file:'', href: "#{url_for agreement_broker_seeker_url(@seeker.agreement_id)}?format=pdf", type: "application/pdf", title: "Elterneinverständnis herunterladen"}= "Elterneinverständnis herunterladen"
          - else
            =  "Elterneinverständnis herunterladen #{url_for agreement_broker_seeker_url(@seeker.agreement_id)}?format=pdf"
          %br
          = "Dann ausdrucken und uns vorbeibringen:"
          -if @seeker.organization.present?
            %br
            = @seeker.organization.name
            %br
            = @seeker.organization.street
            %br
            = @seeker.organization.place.custom_name
            %br
            = "Für einen Termin schreibe uns hier oder ruf an "
            %a{href: "tel:#{@seeker.organization.phone}"}= @seeker.organization.phone
            %br
            %br
            = "Danke,"
            %br
            = @seeker.organization.name
        %br
        - unless @seeker_exist_in_chat
          %p
            = "Keine App für Messaging installiert. Per Telefon Kontakt aufnehmen"
            %a{href: "tel:#{@seeker.mobile}"}
              = @seeker.mobile
        - if ENV['ROCKET_CHAT_URL'].blank?
          %button.btn.btn-success.btn-send
            = "Elterneinverständnis als Pdf schicken"
        - else
          %button.btn.btn-success.js-pdf-message-rc{data: {href: "#{message_broker_rocketchats_path}"}}
            = "Elterneinverständnis als Pdf schicken"

      %div.modal-footer
        = render 'messages'
