<!doctype html>
<html>
  <head>
    <meta charset='utf-8'/>
    <%if Rails.env.production?%>
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <% else %>
      <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <% end %>

    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
  </head>
<body>
  <div id="page-1" class="alwaysbreak page page-default">
    <div class="banner-container">
      <% if  @seeker.organization.present? &&  @seeker.organization.background.present? %>
        <img id="baner" src="<%= @seeker.organization.background.url(:web) %>" width="100%" height="300mm">
      <% else %>
        <img id="baner" src="<%= wicked_pdf_asset_base64 'ParentalAgreement.jpg' %>" width="100%" height="300mm">
      <% end %>
      <div class="banner-title">Sackgeldjob-Börse<br/>
        <%= @seeker.organization&.name %><br/>
        <span>Einverständnis zur Teilnahme</span></div>
      <div class="group-logos bottom-20">

        <% if @seeker.organization.logo.present? %>
          <img class="others-logo-img"  src="<%= @seeker.organization.logo.url(:web, :normal) %>">
        <% end %>
        <% if @seeker.organization.regions.first.logo.present? %>
          <img class="others-logo-img"  src="<%= @seeker.organization.regions.first.logo.url(:web, :normal) %>">
        <% end %>
        <img class="smalljobs-logo-img" src="<%= wicked_pdf_asset_base64 'sj-logo-white.png' %>">
      </div>
    </div>



  <div class="body-container">
    <div class="margin-top-40 font-bigger font-bold">
      <%= @seeker.name %>, <%= @seeker.date_of_birth.strftime('%d.%m.%Y') %>
    </div>
    <p class="font-smaller font-bold">
      <%= @seeker.street %>, <%= @seeker.place.full_name %>
    </p>
    <p>
      Ich bestätige hiermit, dass:
    </p>
    <ol class="list-align-left">
      <li>
        meine Angaben gegenüber <%= @seeker.organization&.name %> wahrheitsgetreu sind.
      </li>
      <li>
        ich mich bei den mir vermittelten Jobs an die Richtlinien von Smalljobs und die Weisungen meiner Jobbörse
        <%= @seeker.organization&.name %> halte.
      </li>
    </ol>


    <div class="row margin-top-40">
      <div class="column column-left">
        <div class="signature">
        </div>
        <div class="font-smaller">Ort, Datum</div>
      </div>
      <div class="column column-right">
        <div class="signature">
        </div>
        <div class="font-smaller">Unterschrift <%= @seeker.name %></div>
      </div>
    </div>

    <div class="margin-top-40 font-bigger font-bold">
      Einverständnis der Eltern / Erziehungsberechtigten:
    </div>
    <p>Ich bestätige hiermit, dass</p>
    <ol class="list-align-left">
      <li>
        ich für <%= @seeker.name %> erziehungsberechtigt bin.
      </li>
      <li>
        <%= @seeker.name %> mit meiner Einverständnis bei der Sackgeldjob-Börse anmeldet.
      </li>
      <li>
        ich die gesetzlichen Richtlinien kenne und einverstanden bin, dass <%= @seeker.name %> in diesem Rahmen
        Sackgeldjobs macht (siehe www.smalljobs.ch/jugendschutz).
      </li>
      <li>
        ich für <%= @seeker.name %> eine gültige Unfall- und Haftpflichtversicherung abgeschlossen habe.
      </li>
    </ol>


    <div class="row margin-top-40">
      <div class="column column-left">
        <div class="signature">
        </div>
        <div class="font-smaller">Ort, Datum</div>
      </div>
      <div class="column column-right">
        <div class="signature">
        </div>
        <div class="font-smaller">Unterschrift
          Erziehungsberechtigte <%= @seeker.name %></div>
      </div>
    </div>


  </div>
  </div>
</body>
</html>