<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <style>
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      /*background-color: #FAFAFA;*/
      font-family: 'Lato', sans-serif;
    }

    div.alwaysbreak {
      page-break-before: always;
    }

    #logo-white {
      position: absolute;
      right: 40px;
      max-width: 90px;
      top: 40px;
    }

    div.nobreak:before {
      clear: both;
    }

    div.nobreak {
      page-break-inside: avoid;
    }

    div.page {
      position: relative;
      width: 210mm;
      min-height: 297mm;
      display: inline-block;
    }

    @page {
      size: A4;
      margin: 0;
    }

    .row {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-spacing: 10px;
    }

    .column {
      display: table-cell;
    }

    .signature {
      height: 17mm;
      background-color: rgb(235, 246, 238);
      border-bottom: 2px solid #d1ebdc;
    }

    .bottom {
      position: relative;
      bottom: 0;
    }

    .right {
      position: relative;
      right: 0;
    }

    #page3.table.tbody.tr {
      height: 5mm;
    }

    .bottom.right {
      position: absolute;
      display: inline-block;
      bottom: 25px;
      right: 37px;
      font-size: 14px;
      font-weight: 700;
    }

    #logo {
      position: absolute;
      top: 37px;
      right: 32px;
      max-width: 95px;
    }

    p.org-name {
      margin-top: 175px;
      font-size: 15px;
      font-weight: 400;
      margin-left: 93px;
      border-bottom: 1px solid #000;
      display: inline-block;
    }

    p.contact-info {
      margin-left: 93px;
      margin-top: 58px;
      line-height: 1.4;
      font-size: 15px;
    }

    p.letter-start {
      margin-left: 93px;
      margin-top: 56px;
      font-size: 15px;
    }

    p.second-paragraph {
      margin-top: 25px;
      font-size: 15px;
      margin-right: 93px;
      line-height: 1.4;
    }

    p.third-paragraph {
      margin-top: 25px;
      font-size: 15px;
      margin-right: 93px;
      line-height: 1.4;
    }

    p.forth-paragraph {
      margin-top: 20px;
      font-size: 15px;
      margin-right: 93px;
      line-height: 1.4;
    }

    p.letter-end {
      margin-top: 23px;
      font-size: 15px;
    }

    p.sign-dots {
      margin-top: 40px;
      font-size: 15px;
    }

    p.sign-data {
      margin-top: -5px;
      font-size: 15px;
      line-height: 1.4;
    }

    p.page2-firstrow {
      margin-left: 37px;
      font-size: 21px;
      font-weight: 800;
      margin-top: -5px;
    }

    p.small-stars {
      font-size: 12px;
      font-weight: 700;
      margin-top: 7px;
    }

    p.page2-secondrow {
      margin-left: 37px;
      margin-top: -6px;
      font-size: 14px;
      font-weight: 700;
    }

    p.sign-par {
      margin-left: 26px;
      margin-top: 0px;
      padding-top: 0px;
      font-size: 13px;
      font-weight: 700;
    }

    p.bottom-txt {
      position: absolute;
      bottom: 33px;
      left: 31px;
      font-weight: 700;
    }

    p.small-star {
      margin-top: 87px;
      font-size: 13px;
      margin-left: 32px;
      font-weight: 700;
    }

    .center.qr {
      width: 174px;
      height: 174px;
      position: absolute;
      left: 50%;
      margin-left: -95px;
      border: 5px solid #07b571;
      top: 150px;
    }

    .center.qr img {
      left: 50%;
      top: 50%;
      position: absolute;
      margin-top: -42px;
      margin-left: -46px;
      width: 90px;
    }

    h1.provider-name {
      margin-left: 93px;
      font-size: 15px;
      margin-top: 20px;
      font-weight: 400;
      line-height: 1.4;
    }

    h1.arbei {
      margin-left: 37px;
      font-size: 21px;
      font-weight: 700;
      margin-top: 368px;
      margin-bottom: 5px;
    }

    h1.page2-secondheader {
      margin-left: 37px;
      font-size: 21px;
      font-weight: 700;
      margin-top: 35px;
    }

    #page2 ol {
      margin-top: 15px;
    }

    #page2 ol li {
      margin-left: 13px;
      margin-bottom: 3px;
      padding-left: 7px !important;
      line-height: 1.2;
    }

    #page2 table {
      margin-left: 37px;
      margin-right: 37px;
      width: 719px;
    }

    #page2 table tbody {
      background: #fff;
    }

    #page2 table thead {
      background: #ecf6ee;
    }

    #page2 table thead tr th {
      font-size: 13px;
      font-weight: 700;
      border: 0px !important;
      padding-top: 4px;
    }

    #page2 table tr td {
      border: 1px solid #cbe7d5;
      padding: 3px;
      padding: 10px 3px;
      font-size: 13px;
      border-left: 0px !important;
      border-right: 0px !important;
    }

    #page4 ol {
      margin-top: 15px;
    }

    #page4 ol li {
      margin-left: 13px;
      margin-bottom: 3px;
      padding-left: 7px !important;
      line-height: 1.2;
    }

    #page4 table {
      margin-left: 37px;
      margin-right: 37px;
      width: 719px;
    }

    #page4 table tbody {
      background: #fff;
    }

    #page4 table thead {
      background: #ecf6ee;
    }

    #page4 table thead tr th {
      font-size: 13px;
      font-weight: 700;
      border: 0px !important;
      padding-top: 4px;
    }

    #page4 table tr td {
      border: 1px solid #cbe7d5;
      padding: 3px;
      padding: 10px 3px;
      font-size: 13px;
      border-left: 0px !important;
      border-right: 0px !important;
    }

    #page3 table {
      margin-left: 37px;
      margin-right: 37px;
      width: 719px;
      position: absolute;
      top: 425px;
      left: -5px;
    }

    #page3 table tbody {
      background: #fff;
    }

    #page3 table thead {
      background: #ecf6ee;
    }

    #page3 table thead tr th {
      font-size: 13px;
      font-weight: 700;
      border: 0px !important;
      padding-top: 4px;
    }

    #page3 table tr td {
      border: 1px solid #cbe7d5;
      padding: 3px;
      padding: 15px 3px;
      font-size: 13px;
      border-left: 0px !important;
      border-right: 0px !important;
    }

    #page4 p {
      margin-right: 37px;
      margin-left: 37px;
    }

    #page1 p {
      margin-left: 93px;
      margin-right: 93px;
      text-align: justify;
    }

    #page1 footer {
      position: absolute;
      padding-left: 93px;
      left: 0;
      bottom: 43px;
    }

    #page1 footer p {
      margin-left: 0px;
      font-size: 12px;
      margin-bottom: 0px;
    }

    #page4 .second-row-table {
      font-style: italic;
      font-weight: 400;
      font-size: 13px;
    }

    #baner {
      left: 15px;
      right: 15px;
      top: 20px;
      position: absolute;
      z-index: 0;
      width: 100% !important;
      height: auto;
      display: block;
      max-width: 760px;
    }

    #page3 h1.first-header {
      position: absolute;
      top: 17px;
      left: 33px;
      font-size: 20px;
      font-weight: 700;
    }

    #page3 h1.second-header {
      position: absolute;
      top: 372px;
      font-size: 22px;
      left: 33px;
    }

    #page4 h2 {
      position: absolute;
      z-index: 1;
      color: #fff;
      font-size: 40px;
      left: 40px;
    }

    #page4 h2 span {
      font-weight: 400;
    }
  </style>
</head>
<body>
<div id="page4" class="alwaysbreak page">
  <% if @seeker.organization.background.present? %>
      <img id="baner" src="<%= @seeker.organization.background.url(:web) %>" width="100%" height="300mm">
  <% else %>
      <img id="baner" src="<%= wicked_pdf_asset_base64 'header-pic.jpg' %>" width="100%" height="300mm">
  <% end %>
  <h2>
    Sackgeldjob-Börse<br/>
    <%= @seeker.organization.name %><br/>
    <span>Einverständnis zur Teilnahme</span>
  </h2>
  <% if @seeker.organization.logo.present? %>
      <img id="logo-white" src="<%= @seeker.organization.logo.url(:web, :normal) %>">
  <% else %>
      <img id="logo-white" src="<%= wicked_pdf_asset_base64 'sj-logo-white.png' %>">
  <% end %>
  <h1 class="arbei">
    JugendlicheR:
  </h1>
  <p class="page2-firstrow">
    <%= @seeker.name %>, <%= @seeker.date_of_birth.strftime('%d.%m.%Y') %>
  </p>
  <p class="page2-secondrow">
    <%= @seeker.street %>, <%= @seeker.place.full_name %>
  </p>
  <p>
    Ich bestätige, dass:
  </p>
  <ol>
    <li>
      Meine Angaben gegenüber <%= @seeker.organization.name %> wahrheitsgetreu sind.
    </li>
    <li>
      Ich mich bei den mir vermittelten Jobs an die Richtlinien von Smalljobs und die Weisungen meiner Jobbörse
      <%= @seeker.organization.name %> halte.
    </li>
  </ol>
  <div class="row">
    <div class="column">
      <div class="signature" style="margin-left: 27px;">
      </div>
      <p class="sign-par" style="margin-left: 26px !important;">Ort, Datum</p>
    </div>
    <div class="column">
      <div class="signature" style="margin-right: 26px;">
      </div>
      <p class="sign-par" style="margin-left: 0px !important;">Unterschrift <%= @seeker.name %></p>
    </div>
  </div>
  <h1 class="page2-secondheader">
    Einverständnis der Eltern / Erziehungsberechtigte:
  </h1>
  <p>Ich bestätige, dass</p>
  <ol>
    <li>
      Ich für <%= @seeker.name %> erziehungsberechtigt bin.
    </li>
    <li>
      <%= @seeker.name %> mit meiner Einverständnis bei der Sackgeldjob-Börse anmeldet.
    </li>
    <li>
      Ich die gesetzlichen Richtlinien kenne und einverstanden bin, dass <%= @seeker.name %> in diesem Rahmen
      Sackgeldjobs macht (siehe www.smalljobs.ch/jugendschutz).
    </li>
    <li>
      Ich für <%= @seeker.name %> eine gültige Unfall- und Haftpflichtversicherung abgeschlossen habe.
    </li>
    <li>
      Die Jobbörse <%= @seeker.organization.name %> die Jobs nur vermittelt und nicht haftbar gemacht werden kann.
    </li>
  </ol>
  <div class="row">
    <div class="column">
      <div class="signature" style="margin-left: 27px;">
      </div>
      <p class="sign-par" style="margin-left: 26px !important;">Ort, Datum</p>
    </div>
    <div class="column">
      <div class="signature" style="margin-right: 26px;">
      </div>
      <p class="sign-par" style="margin-left: 0px !important;">Unterschrift
        Erziehungsberechtigte <%= @seeker.name %></p>
    </div>
  </div>
</div>
</body>
</html>