= link_to broker_dashboard_path do
  = t('navigation.dashboard')
%strong
  = " >  Jugendliche_r"
%div.row
  %div.col-sm-8
    = render 'form'
  %div.col-sm-4.margin_top_120.bg-allocations
    - if @seeker.allocations.where.not(job: nil).exists?
      %div.provider_allocations
        = render 'allocations'
    = render 'todos'
    = render 'assignments'

-#.hidden
-#  .js-rc-seeker-username{data: {username: @seeker.rc_username.to_s, error: I18n.t("broker.seeker.edit.error")}}
-#  - if @seeker.rc_username.present?
-#    = link_to '#', room_broker_rocketchats_path(@seeker.rc_username), class: 'js-rocket-chat-room'
= render partial: '/rocketchats/rc_seeker', locals: {seeker: @seeker}
