%h1= t('seekers.index.title')
%p.lead= t('seekers.index.lead')

.table-responsive
  %table.table.table-striped
    %tr
      %th
      %th= t('activerecord.attributes.seeker.firstname')
      %th= t('activerecord.attributes.seeker.lastname')
      %th= t('activerecord.attributes.seeker.zip')
      %th= t('activerecord.attributes.seeker.city')
      %th{ colspan: 3 }

    - if @seekers.size == 0
      %tr
        %td{ colspan: 8 }= t('seekers.index.no_seekers')

    - @seekers.each do |seeker|
      %tr{ class: seeker_status_class(seeker) }
        %td
          = seeker_label(seeker)
        %td= seeker.firstname
        %td= seeker.lastname
        %td= seeker.place.zip
        %td= seeker.place.name

        %td= link_to '', broker_seeker_path(seeker), class: 'fa fa-eye', title: t('common.show_title', who: seeker.name)
        %td= link_to '', edit_broker_seeker_path(seeker), class: 'fa fa-pencil', title: t('common.edit_title', who: seeker.name)
        %td= link_to '', broker_seeker_path(seeker), method: :delete, title: t('common.destroy_title', who: seeker.name), data: { confirm: t('common.sure') }, class: 'fa fa-trash-o'

= link_to t('seekers.index.add_new'), new_broker_seeker_path, class: 'btn btn-primary'
