%h2= t('providers.registrations.edit.title')
%p.lead= t('providers.registrations.edit.lead')

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  %fieldset
    %legend
      = t('legends.login')
      %i.fa.fa-2x.fa-user.pull-right

    .form-inputs
      = f.input :email, required: true
      = f.input :password, required: false, autocomplete: 'off', hint: t('devise_views.leave_empty')
      = f.input :password_confirmation, required: false

  %fieldset
    %legend
      = t('legends.address')
      %i.fa.fa-2x.fa-home.pull-right

    .form-inputs
      = f.input :company
      = f.input :firstname, required: true
      = f.input :lastname, required: true
      = f.input :street, required: true
      = f.association :place, required: true, collection: current_region.places.order(:name), include_blank: true, label_method: :custom_name
      = f.association :organization, required: true, collection: current_region.organizations.order(:name).distinct, label: t('providers.registrations.edit.organization')

  %fieldset
    %legend
      = t('legends.contact')
      %i.fa.fa-2x.fa-phone.pull-right

    .form-inputs
      = f.input :phone
      = f.input :mobile
      = f.input :contact_preference, collection: provider_contact_preferences, include_blank: false
      = f.input :contact_availability

  .form-actions
    = f.input :current_password, required: true, hint: t('devise_views.need_password')
    = f.button :submit, t('providers.registrations.edit.action'), class: 'btn btn-primary'

%h3= t('providers.registrations.edit.cancel.title')
%p= t('providers.registrations.edit.cancel.lead')

%p= link_to t('providers.registrations.edit.cancel.action'), registration_path(resource_name), data: { confirm: t('common.sure') }, method: :delete

