%h2= t('providers.registrations.new.title')
%p.lead= t('providers.registrations.new.lead')

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  %fieldset
    %legend
      = t('legends.login')
      %i.fa.fa-2x.fa-user.pull-right

    %p
      = t('providers.registrations.new.have_account')
      = link_to t('devise_views.sign_in'), global_sign_in_path

    .form-inputs
      = f.input :email, required: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true

  %fieldset
    %legend
      = t('legends.address')
      %i.fa.fa-2x.fa-home.pull-right

    .form-inputs
      = f.input :company
      = f.input :firstname, required: true
      = f.input :lastname, required: true
      = f.input :street, required: true
      = f.association :place, required: true, collection: current_region.places.order(:name, :zip), include_blank: true, label_method: :full_name
      = f.association :organization, required: true, collection: current_region.organizations.order(:name).distinct, include_blank: true, label: t('providers.registrations.new.organization')

  %fieldset
    %legend
      = t('legends.contact')
      %i.fa.fa-2x.fa-phone.pull-right

    .form-inputs
      = f.input :phone, required: false
      = f.input :mobile, required: false
      = f.input :contact_preference, collection: provider_contact_preferences, include_blank: false
      = f.input :contact_availability

  %fieldset
    %legend
      = t('legends.terms')
      %i.fa.fa-2x.fa-legal.pull-right

    .form-inputs
      = f.input :terms, as: :boolean, label: false, inline_label: I18n.t('common.provider_terms', rules: link_to(t('navigation.rules'), 'http://smalljobs.ch/jugendschutz/', data: {target: '_blank' })).html_safe

  .form-actions
    = f.button :submit, t('providers.registrations.new.register'), class: 'btn btn-primary'

#rules-of-action-modal.modal.fade
  .modal-dialog
    .modal-content
      = t('common.loading')

#terms-of-service-modal.modal.fade
  .modal-dialog
    .modal-content
      = t('common.loading')

#privacy-policy-modal.modal.fade
  .modal-dialog
    .modal-content
      = t('common.loading')

= render 'devise/shared/links'
