%h1= t('broker.jobs.proposals.index.title', title: @job.title)
%p.lead= t('broker.jobs.proposals.lead')

.table-responsive
  %table.table.table-striped
    %tr
      %th= t('activerecord.attributes.proposal.seeker')
      %th= t('activerecord.attributes.proposal.message')
      %th{ colspan: 2 }

    - if @proposals.size == 0
      %tr
        %td{ colspan: 5 }= t('broker.jobs.proposals.index.no_proposals')

    - @proposals.each do |proposal|
      %tr
        %td= proposal.seeker.name
        %td= proposal.message

        %td= link_to '', edit_broker_job_proposal_path(@job, proposal), class: 'fa fa-pencil', title: t('common.edit_title', who: proposal.name)
        %td= link_to '', broker_job_proposal_path(@job, proposal), method: :delete, title: t('common.destroy_title', who: proposal.name), data: { confirm: t('common.sure') }, class: 'fa fa-trash-o'

= link_to t('broker.jobs.proposals.index.add_new'), new_broker_job_proposal_path(@job), class: 'btn btn-primary'
= link_to t('common.back'), broker_job_path(@job)
