=link_to '< ' + t('common.back'), seeker_dashboard_path

%h1= t('seeker.jobs.show.title')
%p.lead= t('seeker.jobs.show.lead')

.row
  .col-lg-6
    .panel.panel-default
      .panel-body
        -#.label.label-info= @job.work_category.name
        -#.status.pull-right= job_label(@job)
        %h2= @job.title
        %p= @job.description

        %h3= t('legends.date')
        %p= t("jobs.date_types.#{ @job.date_type }")

        - if @job.date_type == 'date'
          %p= t('jobs.at', at: l(@job.start_date, format: :long))
        - elsif @job.date_type == 'date_range'
          %p= t('jobs.between', from: l(@job.start_date), to: l(@job.end_date))

        %h3= t('legends.salary')
        %p= t("jobs.salary_types.#{ @job.salary_type }")
        %p= number_to_currency(@job.salary)

        %h3= t('legends.seekers')
        %p= t('jobs.manpower', manpower: @job.manpower)
        %p= t('jobs.duration', duration: @job.duration)
  .col-lg-6
    -if @allocation.new_record?
      = simple_form_for([:seeker, @job, @allocation], html: { novalidate: true }) do |f|
        = f.input :seeker_id, as: :hidden, input_html: { value: current_seeker.id }
        = f.input :job_id, as: :hidden, input_html: {value: @job.id}

        - if notification = f.error_notification
          .alert.alert-danger
            = notification

        %fieldset
          %legend
            = t('legends.application')

          .form-inputs
            = f.input :feedback_seeker, as: :text, label: ''

        .form-actions
          = f.button :submit, t('common.create'), class: 'btn btn-primary'
    -elsif @allocation.application_open?
      %h3= t('seeker.jobs.show.reject_title')
      %p= t('seeker.jobs.show.reject_lead')
      %p= link_to t('seeker.jobs.show.reject_action'), seeker_job_allocation_path(@job, @allocation), method: :delete
    -elsif @allocation.active? || @allocation.finished?
      %h2= t('seeker.jobs.show.get_job')
      %p= t('seeker.jobs.show.procedure')
      %h3= t('seeker.jobs.show.contact_supplier')
      %p= t('seeker.jobs.show.appointment')
      %p
        = @job.provider.name
        %br
        = @job.provider.street
        %br
        = @job.provider.place.zip + ' ' + @job.provider.place.name
      %p
        = 'Tel: '
        = @job.provider.phone
        %br
        = 'Mobile: '
        = @job.provider.mobile
      %h3= t('seeker.jobs.show.job')
      %p= t('seeker.jobs.show.job_a')
      %p= t('seeker.jobs.show.job_b')
      %p= t('seeker.jobs.show.job_c')
      %h3= t('seeker.jobs.show.contract')
      %p
        = @job.provider.organization.name
        %br
        = @job.provider.organization.street
        %br
        = @job.provider.organization.place.zip + ' ' + @job.provider.organization.place.name
      %p
        = 'Tel: '
        = @job.provider.organization.phone
    -#.row
    -#  .col-lg-6
    -#    %h3= t('legends.provider')
    -#    %address
    -#      %strong= @job.provider.name
    -#      %br
    -#      = @job.provider.street
    -#      %br
    -#      = "#{ @job.provider.place.zip } #{ @job.provider.place.name }"
    -#
    -#  .col-lg-6
    -#    %h3= t('legends.seekers')
    -#    %p= t('jobs.manpower', manpower: @job.manpower)
    -#    %p= t('jobs.duration', duration: @job.duration)
    -#
    -#    - if @job.allocations.length == 0
    -#      %p
    -#        %strong= t('jobs.no_seekers_assigned')
    -#    - else
    -#      %p= t('jobs.seekers_assigned')
    -#
    -#      %ul
    -#        - @job.allocations.each do |allocation|
    -#          %ul= allocation.seeker.name
