%h2= I18n.t('job_providers.passwords.new.title')
%p= I18n.t('job_providers.passwords.new.lead')

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, novalidate: true }) do |f|

  .bs-callout.bs-callout-danger
    = f.error_notification

  .form-inputs
    = f.input :email, required: true, autofocus: true

  .form-actions
    = f.button :submit, I18n.t('job_providers.passwords.new.action'), class: 'btn btn-primary'

= render 'job_providers/shared/links'
