%h2= I18n.t('devise_views.passwords.edit.title')
%p= I18n.t('devise_views.passwords.edit.lead')

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, novalidate: true }) do |f|

  = f.input :reset_password_token, as: :hidden

  .alert.alert-danger
    = f.error_notification
    = f.full_error :reset_password_token

  .form-inputs
    = f.input :password, label: 'devise_views.passwords.edit.new_password'), required: true, autofocus: true
    = f.input :password_confirmation, label: I18n.t('devise_views.passwords.edit.confirmation'), required: true

  .form-actions
    = f.button :submit, I18n.t('devise_views.passwords.edit.lead'), class: 'btn btn-primary'

= render 'devise/shared/links'
