%h2= I18n.t('devise_views.passwords.new.title')
%p= I18n.t('devise_views.passwords.new.lead')

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  .form-inputs
    = f.input :email, required: true, autofocus: true

  .form-actions
    = f.button :submit, I18n.t('devise_views.passwords.new.action'), class: 'btn btn-primary'

= render 'devise/shared/links'
