%a{href: "#{url_for new_broker_job_url}?provider_id=#{@provider.id}"}
  %button.btn.btn-success.prevail_state.width-100.new-job-btn
    = "Neuen Job erfassen"

- jobs = @provider.jobs.where(state: 'check').order(created_at: :desc)
- if jobs.count > 0
  %h4.allocations-header= "Jobs: Prüfen"
  - for job in jobs
    = link_to "#{job.title}, #{job.last_change_of_state.strftime("%d.%m.%Y")}", edit_broker_job_path(job), class: 'bold'
    %ul.allocations-list
      - allocations = job.allocations.includes(:seeker).order(created_at: :desc)
      - for allocation in order_allocation_by_state(allocations)
        %li.allocations-list-item
          %p
            = link_to "#{t("activerecord.attributes.allocation.state_label.#{allocation.state}")}, #{allocation.last_change_of_state.strftime("%d.%m.%Y")}: #{allocation.seeker.name}", broker_job_allocation_path(job, allocation.seeker)

- jobs = @provider.jobs.where(state: 'public').order(created_at: :desc)
- if jobs.count > 0
  %h4.allocations-header= "Jobs: Veröffentlichen"
  - for job in jobs
    = link_to "#{job.title}, #{job.last_change_of_state.strftime("%d.%m.%Y")}", edit_broker_job_path(job), class: 'bold'
    %ul.allocations-list
      - allocations = job.allocations.includes(:seeker).order(created_at: :desc)
      - for allocation in order_allocation_by_state(allocations)
        %li.allocations-list-item
          %p
            = link_to "#{t("activerecord.attributes.allocation.state_label.#{allocation.state}")}, #{allocation.last_change_of_state.strftime("%d.%m.%Y")}: #{allocation.seeker.name}", broker_job_allocation_path(job, allocation.seeker)

- jobs = @provider.jobs.where(state: 'hidden').order(created_at: :desc)
- if jobs.count > 0
  %h4.allocations-header= "Jobs: Versteckt"
  - for job in jobs
    = link_to "#{job.title}, #{job.last_change_of_state.strftime("%d.%m.%Y")}", edit_broker_job_path(job), class: 'bold'
    %ul.allocations-list
      - allocations = job.allocations.includes(:seeker).order(created_at: :desc)
      - for allocation in order_allocation_by_state(allocations)
        %li.allocations-list-item
          %p
            = link_to "#{t("activerecord.attributes.allocation.state_label.#{allocation.state}")}, #{allocation.last_change_of_state.strftime("%d.%m.%Y")}: #{allocation.seeker.name}", broker_job_allocation_path(job, allocation.seeker)

- jobs = @provider.jobs.where(state: 'feedback').order(created_at: :desc)
- if jobs.count > 0
  %h4.allocations-header= "Jobs: Feedback"
  - for job in jobs
    = link_to "#{job.title}, #{job.last_change_of_state.strftime("%d.%m.%Y")}", edit_broker_job_path(job), class: 'bold'
    %ul.allocations-list
      - allocations = job.allocations.includes(:seeker).order(created_at: :desc)
      - for allocation in aorder_allocation_by_state(allocations)
        %li.allocations-list-item
          %p
            = link_to "#{t("activerecord.attributes.allocation.state_label.#{allocation.state}")}, #{allocation.last_change_of_state.strftime("%d.%m.%Y")}: #{allocation.seeker.name}", broker_job_allocation_path(job, allocation.seeker)

- jobs = @provider.jobs.where(state: 'finished').order(created_at: :desc)
- if jobs.count > 0
  %h4.allocations-header= "Jobs: Beendet"
  - for job in jobs
    = link_to "#{job.title}, #{job.last_change_of_state.strftime("%d.%m.%Y")}", edit_broker_job_path(job), class: 'bold'
    %ul.allocations-list
      - allocations = job.allocations.includes(:seeker).order(created_at: :desc)
      - for allocation in order_allocation_by_state(allocations)
        %li.allocations-list-item
          %p
            = link_to "#{t("activerecord.attributes.allocation.state_label.#{allocation.state}")}, #{allocation.last_change_of_state.strftime("%d.%m.%Y")}: #{allocation.seeker.name}", broker_job_allocation_path(job, allocation.seeker)
