<!doctype html>
<html>
  <head>
    <meta charset='utf-8'/>
    <%if Rails.env.production?%>
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <% else %>
      <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <% end %>
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
  </head>
<body>

  <div id="page-1" class="alwaysbreak page page-default">
    <div class="text-container">
      <img id="logo" src="<%= wicked_pdf_asset_base64 'sj-logo.png' %>">
      <div class="header-text">
        <%= @provider.organization.name %> – <%= @provider.organization.street %>
        – <%= @provider.organization.place.full_name %>
      </div>
      <div class="standard-text margin-top-120">
        <%= @provider.company != nil && !@provider.company.blank? ? "#{@provider.company}<br/>".html_safe : "<br/>".html_safe %>
        <%= @provider.name %><br/>
        <%= @provider.street %><br/>
        <%= @provider.place.full_name %>
      </div>
      <div class="standard-text margin-top-80">
        <%= @letter_msg.html_safe %>
      </div>
      <div class="standard-text margin-top-40">.................................................</div>
      <div class="standard-text">
        <%= @broker.name %><br/>
        <%= @broker.mobile.blank? ? @broker.phone : @broker.mobile %><br/>
        <%= @broker.email %>
      </div>
      <footer class="left-footer">
        <p>
          <%= @provider.organization.name %><br/>
          <%= @provider.organization.street %>, <%= @provider.organization.place.full_name %><br/>
          <%= @provider.organization.phone %>, <%= @provider.organization.email %>
        </p>
      </footer>
    </div>
  </div>





<div id="page-2" class="alwaysbreak page page-default">
  <div class="banner-container">
    <% if @provider.organization.background.present? %>
        <img id="baner" src="<%= @provider.organization.background.url(:web) %>" width="100%" height="300mm">
    <% else %>
        <img id="baner" src="<%= wicked_pdf_asset_base64 'ParentalAgreement.jpg' %>" width="100%" height="300mm">
    <% end %>
    <div class="banner-title">Taschengeldjobs<br/>
      <span>Arbeitszeiterfassung</span></div>
    <div class="group-logos bottom-80">

    <% if @provider.organization.logo.present? %>
        <img class="others-logo-img"  src="<%= @provider.organization.logo.url(:web, :normal) %>">
    <% end %>
    <% if @provider.organization.regions.first.logo.present? %>
        <img class="others-logo-img"  src="<%= @provider.organization.regions.first.logo.url(:web, :normal) %>">
    <% end %>
    <img class="smalljobs-logo-img" src="<%= wicked_pdf_asset_base64 'sj-logo-white.png' %>">
    </div>
    <div class="bank-info">
      Die Taschengeldjob-Börse ist ein kostenloses Angebot von smallJobs<br/>
      <span>Möchten sie uns unterstützen?</span><br/>
      <span>Unser Spendenkonto lautet: CH81 0900 0000 8558 01170</span>
    </div>
  </div>


  <div class="body-container">
    <div class="margin-top-40 font-bigger font-bold">
      Arbeitgeber_in:
    </div>
    <div class="font-bigger">
      <%= @provider.company != nil && !@provider.company.blank? ? "#{@provider.company}, " : "" %><%= @provider.name %>
    </div>
    <p class="font-smaller">
      <%= @provider.street %>, <%= @provider.place.full_name %>
    </p>



    <p class="font-bigger padding-bottom-5"><b>1.</b></p>
    <div class="row-w font-20">
      <div class="col1">Jugendliche_r:</div>
      <div class="col2"><span>> Diesen Code bei Arbeitsbeginn mit dem Scanner der<br>
        &nbsp; &nbsp;Jugendapp* einlesen und Anweisungen in der App befolgen.</span></div>
      <div class="clear-both"></div>
    </div>

    <br>
    <br>

    <div class="row-w">
      <div class="col1-qr">
        Mit Arbeitsbeginn sind Jugendliche und
        Arbeitgebende mit den smallJobs Richtlinien
        einverstanden (siehe Seite 2)
        <br><br>
        <b>Keine App vorhanden?</b>
        <br>
        Bitte Arbeitsstunden von Hand
        aufschreiben
      </div>
      <div class="col2-qr">
        <div class="border-qr">
          <img id="qr" src="<%= @qrcode.to_data_url %>">
        </div>
      </div>
      <div class="clear-both"></div>
    </div>



    <p class="font-bigger padding-bottom-5"><b>2.</b></p>
    <div class="row-w font-20">
      <div class="col1">Jugendliche_r:</div>
      <div class="col2">> Arbeiten unter Anleitung des Arbeitgebenden.</div>
      <div class="clear-both"></div>
    </div>

    <br/>

    <p class="font-bigger padding-bottom-5"><b>3.</b></p>
    <div class="row-w font-20">
      <div class="col1">Jugendliche_r:</div>
      <div class="col2">
        > Arbeit beenden
        <br>
        > Zeitzähler in der App stoppen
        <br>
        > Lohn in der App ablesen
      </div>
      <div class="clear-both"></div>
      <br/>
      <div class="col1">Arbeitgeber_in:</div>
      <div class="col2">
        > Lohn auszahlen
      </div>
      <div class="clear-both"></div>
    </div>
  </div>
  <footer class="footer-right">
    *www.jugend.app <span>Seite 1 von 3</span>
  </footer>
</div>





<div id="page-3" class="page alwaysbreak page-default">
  <div class="body-container">
    <%= raw @provider.organization.regions&.first&.provider_contract_rules %>
      <footer class="footer-right">
        Seite 2 von 3
      </footer>
  </div>

</div>

<div id="page-4" class="page alwaysbreak page-default">
  <div class="body-container line-height-1-5">
    <div class="margin-top-40 font-bigger font-bold">
      TIPPS UND HINWEISE
    </div>
    <div class="font-bigger margin-top-40">
      … für Arbeitgebende
    </div>
    <p class="margin-top-40">
      Sie haben einen Jugendjob über SmallJobs ausgeschrieben – vielen Dank für Ihr Engagement!      
    </p>
    <p >
      Jugendliche, welche sich bei SmallJobs registriert haben, sind zwischen 13 und 17 Jahren alt. Die meisten machen über SmallJobs erste Erfahrungen auf dem Arbeitsmarkt und freuen sich mit der Arbeitstätigkeit ihr Taschengeld aufzubessern.
    </p>
    <p class="font-bigger font-color-green">

      Damit der erste Job für alle eine positive Erfahrung bleibt, gilt es als Arbeitgebende folgende Punkte zu beachten:
    </p>
    <div >
      <ul>
        <li>
          Die Jugendlichen dürfen zu einem Kennenlerngespräch eine Begleitperson ihrer Wahl mitnehmen
        </li>
        <li>  
          Als Erwachsene sind Sie in der Verantwortung eine für junge Menschen angenehme und wohlwollende Atmosphäre zu schaffen
        </li>
        <li>
          Ein gesundes Nähe-Distanz-Verhältnis wird vorausgesetzt.
        </li>
        <li>
          Sollten sich die Jugendlichen am Arbeitsplatz unwohl fühlen, dürfen diese ohne Angabe von Gründen den Arbeitsplatz verlassen. Nehmen Sie bitte im Anschluss mit dem jeweiligen SmallJob Standort Kontakt auf, um die Situation aufzuklären.
        </li>
        <li>  
          Wir ermutigen die Jugendlichen sich auf ihr Bauchgefühl zu verlassen.
        </li>
      </ul>
    </div>
    <p class="font-bigger font-color-green">
      Weitere Hinweise:
    </p>
    <p >
      <ul>
        <li>
          Bitte kontaktieren Sie uns bei angefallener Veränderung des Arbeitsverhältnisses (Kündigung, etc.)
        </li>
        <li>  
          Sollten Sie die jugendliche Person über längere Zeit nicht erreichen melden Sie sich bei uns.
        </li>
        <li>  
          Sollten wir nichts mehr von Ihnen hören, gehen wir davon aus, dass das Arbeitsverhältnis wie vereinbart gut läuft.
        </li>
      </ul>    
      Sowohl Arbeitgebende wie auch Jugendliche können sich jederzeit für die Beratung, Begleitung und Unterstützung bei SmallJobs melden unter: 
    </p>
    <p>
      Kontaktangaben <br />
      <%= @provider&.organization&.name %>
      <br />
      <%= @provider&.organization&.street %>
      <br />

      <%= @provider&.organization&.place&.zip + ' ' + @provider&.organization&.place&.name %>
      <br />


      <% if @provider&.organization&.phone %>
        <%= @provider.organization.phone.phony_formatted %>
        <br />
      <%end%>

      <% if @provider&.organization&.email %>
        <%= @provider.organization.email %>
        <br />
      <%end%>

      <% if @provider&.organization&.website %>
         <%= @provider.organization.website %>
        <br />
      <%end%>
    </p>
    <p>
      Ich bestätige hiermit, dass ich den Kodex für Arbeitgebende SmallJobs aufmerksam gelesen und verstanden habe und dies in der Zusammenarbeit mit SmallJobs und den Jugendlichen umsetze.
    </p>
    <div >
      <div class="row-w margin-top-80">
        <div class="col05">
          _____________________________<br />
          Datum/Ort
        </div>
        <div class="col05">
          _______________________________<br/>
          Unterschrift
        </div>
      </div>  
      <div class="clear-both"></div>                      			       
    </div>

    <footer class="footer-right">
      Seite 3 von 3
    </footer>
  </div>

</div>


</body>
</html>
