<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <style>
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      /*background-color: #FAFAFA;*/
      font-family: 'Lato', sans-serif;
    }

    div.alwaysbreak {
      page-break-before: always;
    }
    #logo-white{
      position: absolute;
      right: 40px;
      max-width: 90px;
      top: 40px;
    }

    div.nobreak:before {
      clear: both;
    }

    div.nobreak {
      page-break-inside: avoid;
    }

    div.page {
      position: relative;
      width: 210mm;
      min-height: 297mm;
      display:inline-block;
    }

    @page {
      size: A4;
      margin: 0;
    }

    .row {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-spacing: 10px;
    }

    .column {
      display: table-cell;
    }

    .signature {
      height: 17mm;
      background-color: rgb(235, 246, 238);
      border-bottom: 2px solid #d1ebdc;
    }

    .bottom {
      position: relative;
      bottom: 0;
    }

    .right {
      position: relative;
      right: 0;
    }

    #page3.table.tbody.tr {
      height: 5mm;
    }
    .bottom.right{
      position: absolute;
      display: inline-block;
      bottom: 25px;
      right: 37px;
      font-size: 14px;
      font-weight: 700;
      width: 100%;
      text-align: right;
    }
    #logo{
      position: absolute;
      top: 37px;
      right: 32px;
      max-width: 95px;
    }
    p.org-name{
      margin-top: 102px;
      font-size: 15px;
      font-weight: 400;
      margin-left: 93px;
      border-bottom: 1px solid #000;
      display: inline-block;
    }
    p.contact-info{
      margin-left: 93px;
      margin-top: 58px;
      line-height: 1.4;
      font-size: 15px;
    }
    p.letter-start{
      margin-left: 93px;
      margin-top: 56px;
      font-size: 15px;
    }
    p.second-paragraph{
      margin-top: 25px;
      font-size: 15px;
      margin-right: 93px;
      line-height: 1.4;
    }
    p.third-paragraph{
      margin-top: 25px;
      font-size: 15px;
      margin-right: 93px;
      line-height: 1.4;
    }
    p.forth-paragraph{
      margin-top: 20px;
      font-size: 15px;
      margin-right: 93px;
      line-height: 1.4;
    }
    p.letter-end{
      margin-top: 23px;
      font-size: 15px;
      margin-bottom: 0px;
    }
    p.sign-dots{
      margin-top: 0px;
      font-size: 15px;
    }
    p.sign-data{
      margin-top: -5px;
      font-size: 15px;
      line-height: 1.4;
    }
    p.page2-firstrow{
      margin-left: 37px;
      font-size: 21px;
      font-weight: 800;
      margin-top: -5px;
    }
    p.small-stars{
      font-size: 12px;
      font-weight: 700;
      margin-top: 7px;
    }
    p.page2-secondrow{
      margin-left: 37px;
      margin-top: -6px;
      font-size: 14px;
      font-weight: 700;
    }
    p.sign-par{
      margin-left: 26px;
      margin-top: 0px;
      padding-top: 0px;
      font-size: 13px;
      font-weight: 700;
    }
    p.bottom-txt{
      position: absolute;
      bottom: 33px;
      left: 31px;
      font-weight: 700;
    }
    p.small-star{
      margin-top: 87px;
      font-size: 13px;
      margin-left: 32px;
      font-weight: 700;
    }
    .center.qr{
      width: 174px;
      height: 174px;
      position: absolute;
      left: 50%;
      margin-left: -95px;
      border: 5px solid #07b571;
      top: 150px;
    }
    .center.qr img{
      left: 50%;
      top: 50%;
      position: absolute;
      margin-top: -42px;
      margin-left: -46px;
      width: 90px;
    }
    h1.provider-name{
      margin-left: 93px;
      font-size: 15px;
      margin-top: 80px;
      font-weight: 400;
      line-height: 1.4;
    }
    h1.arbei{
      margin-left: 37px;
      font-size: 21px;
      font-weight: 700;
      margin-top: 368px;
      margin-bottom: 5px;
    }
    h1.page2-secondheader{
      margin-left: 37px;
      font-size: 21px;
      font-weight: 700;
      margin-top: 35px;
    }
    #page2 ol{
      margin-top: 15px;
    }
    #page2 ol li{
      margin-left: 13px;
      margin-bottom: 3px;
      padding-left: 7px !important;
      line-height: 1.2;
    }
    #page2 table{
      margin-left: 37px;
      margin-right: 37px;
      width: 719px;
    }
    #page2 table tbody{
      background: #fff;
    }
    #page2 table thead{
      background: #ecf6ee;
    }
    #page2 table thead tr th{
      font-size: 13px;
      font-weight: 700;
      border: 0px !important;
      padding-top: 4px;
    }
    #page2 table tr td{
      border: 1px solid #cbe7d5;
      padding: 3px;
      padding: 10px 3px;
      font-size: 13px;
      border-left: 0px !important;
      border-right: 0px !important;
    }
    #page3 table{
      margin-left: 37px;
      margin-right: 37px;
      width: 719px;
      position: absolute;
      top: 425px;
      left: -5px;
    }
    #page3 table tbody{
      background: #fff;
    }
    #page3 table thead{
      background: #ecf6ee;
    }
    #page3 table thead tr th{
      font-size: 13px;
      font-weight: 700;
      border: 0px !important;
      padding-top: 4px;
    }
    #page3 table tr td{
      border: 1px solid #cbe7d5;
      padding: 3px;
      padding: 15px 3px;
      font-size: 13px;
      border-left: 0px !important;
      border-right: 0px !important;
    }
    #page2 p{
      margin-right: 37px;
      margin-left: 37px;
    }
    #page1 p{
      margin-left: 93px;
      margin-right: 93px;
      text-align: justify;
    }
    #page1 footer{
      position: absolute;
      padding-left: 93px;
      left: 0;
      bottom: 43px;
      width: 300px;
    }
    #page1 footer p{
      margin-left: 0px;
      font-size: 12px;
      margin-bottom: 0px;
      width: 300px;
    }
    #page2 .second-row-table{
      font-style: italic;
      font-weight: 400;
      font-size: 13px;
    }
    #baner{
      left: 15px;
      right: 15px;
      top: 20px;
      position: absolute;
      z-index: 0;
      width: 100% !important;
      height: auto;
      display: block;
      max-width: 760px;
    }
    #page3 h1.first-header{
      position: absolute;
      top: 17px;
      left: 33px;
      font-size: 20px;
      font-weight: 700;
    }
    #page3 h1.second-header{
      position: absolute;
      top: 372px;
      font-size: 22px;
      left: 33px;
    }
    #page2 h2{
      position: absolute;
      z-index: 1;
      color: #fff;
      font-size: 40px;
      left: 40px;
    }
    #page2 h2 span{
      font-weight: 400;
    }
  </style>
</head>
<body>
<div id="page1" class="alwaysbreak page">
  <img id="logo" src="<%= wicked_pdf_asset_base64 'sj-logo.png' %>">
  <p class="org-name">
    <%= @provider.organization.name %> – <%= @provider.organization.street %>  – <%= @provider.organization.place.full_name %>
  </p>
  <h1 class="provider-name">
    <%= @provider.name %><br/>
    <%= @provider.street %><br/>
    <%= @provider.place.full_name %>
  </h1>
  <p class="contact-info">
    Ihre Kontaktdaten:
    <br/>
    <%= current_broker.mobile %>
    <br/>
    <%= current_broker.email %>
  </p>
  <p class="letter-start">
    Guten Tag <%= @provider.name %><%= @provider.company != nil && !@provider.company.empty? ? ", (#{@provider.company})":""  %>
  </p>
  <p class="second-paragraph">
    Es freut uns sehr, Sie in der Sackgeld-Jobbörse für den Generationendialog dabei zu haben!
    Sie leisten mit Ihrer Teilnahme einen wertvollen und nachhaltigen Beitrag für die beru4iche
    Integration junger Menschen und den Generationendialog. Unsere Jugendlichen
    freuen sich, Sie kompetent, freundlich und persönlich unterstützen zu können.
  </p>
  <p class="third-paragraph">
    Basierend auf den bisherigen Erfahrungen haben wir unsere Vermittlungs-Lösung optimiert.
    Beiliegend erhalten Sie eine Vorlage für einen Arbeitsvertrag. Wir bitten Sie, diesen jeweils
    von jedem Jugendlichen bei Arbeitsbeginn unterschreiben zu lassen. Die Jugendlichen lesen
    Ihre persönliche Identi:kation bei Arbeitsbeginn ein. Das System berechnet den Lohn dann
    automatisch. Nach Arbeitsende können Sie den Jugendlichen den Lohn bezahlen.
  </p>
  <p class="forth-paragraph">
    Viel Spass bei der weiteren Zusammenarbeit mit unseren Jugendlichen. Bei Fragen oder
    Problemen und für neue Jobs stehen wir Ihnen gerne zur Verfügung: <%= current_broker.mobile %>
  </p>
  <p class="letter-end">
    Für Ihre Jobbörse <%= @provider.organization.name %>
  </p>
  <p class="sign-dots">.................................................</p>
  <p class="sign-data">
    <%= current_broker.name %><br/>
    <%= current_broker.mobile %><br/>
    <%= current_broker.email %>
  </p>
  <footer>
    <p><%= @provider.organization.name %><br />
      <%= @provider.organization.street %>, <%= @provider.organization.place.full_name %><br />
      <%= @provider.organization.phone %>, <%= @provider.organization.email %></p>
  </footer>
</div>
<div id="page2" class="alwaysbreak page">
  <img id="baner" src="<%= wicked_pdf_asset_base64 'header-pic.jpg' %>" width="100%" height="300mm">
  <h2>Sackgeldjobs<br/>
    <span>Arbeitsvertrag</span></h2>
  <img id="logo-white" src="<%= wicked_pdf_asset_base64 'sj-logo-white.png' %>">

  <h1 class="arbei">
    ArbeitgeberIn:
  </h1>
  <p class="page2-firstrow">
    <%= @provider.name %><%= @provider.company != nil && !@provider.company.empty? ? ", (#{@provider.company})":""  %>
  </p>
  <p class="page2-secondrow">
    <%= @provider.street %>, <%= @provider.place.full_name %>
  </p>
  <h1 class="page2-secondheader">
    Ich stimme folgenden Bestimmungen zu:
  </h1>
  <ol>
    <li>
      Ich leite Jugendliche fachgerecht in sämtliche Arbeit an und beaufsichtige die Arbeit angemessen.
    </li>
    <li>
      Das Anstellungsverhältnis besteht direkt zwischen mir und dem Jugendlichen.
    </li>
    <li>
      Die vermittelnde Jobbörse kann unter keinen Umständen haftbar gemacht werden.
    </li>
    <li>
      Der Stundenlohn entspricht dem Alter des Jugendlichen mal <%= @provider.organization.wage_factor %> (z.B. 17 Jahre x <%= @provider.organization.wage_factor %> = <%= 17 * @provider.organization.wage_factor %> CHF).
    </li>
    <li>
      Unfallversicherung: Familienversicherung des Jugendlichen (bis zu einem Jahreslohn von 750 CHF).
    </li>
    <li>
      Haftpflichtversicherung : Familienversicherung oder Arbeitgeberversicherung.
    </li>
    <li>
      Ausnahme für gewerbliche Arbeitgeber: Unfall-/Haftpflichtversicherung ist Sache des Arbeitgebers.
    </li>
    <li>
      Gemäss Jugendarbeitschutz sind für Jugendliche ab 13 Jahren in der Schweiz leichte
      Arbeiten im folgenden Rahmen erlaubt*:
    </li>
  </ol>
  <table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" bordercolor="#cbe7d5">
    <thead>
    <tr>
      <th>
        Alter
      </th>
      <th>
        Arbeitszeiten
      </th>
      <th colspan="3">
        Max. täglich
      </th>
      <th colspan="2">
        Max. wöchentlich
      </th>
      <th>
        Verbotene Arbeiten
      </th>
    </tr>
    <tr class="second-row-table">
      <th></th>
      <th></th>
      <th>Mo–Fr</th>
      <th>Sa</th>
      <th>So</th>
      <th>Schulzeit</th>
      <th>Ferien</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        16–18
      </td>
      <td>
        8–22 Uhr
      </td>
      <td>
        3h
      </td>
      <td>
        8h
      </td>
      <td>
        0h
      </td>
      <td>
        9h
      </td>
      <td>
        40h<sup>**</sup>
      </td>
      <td>
        Bedienung in Bars, Clubs, u.ä., gefährliche Arbeiten
      </td>
    </tr>
    <tr>
      <td>
        13–15
      </td>
      <td>
        8–18 Uhr
      </td>
      <td>
        3h
      </td>
      <td>
        8h
      </td>
      <td>
        0h
      </td>
      <td>
        9h
      </td>
      <td>
        40h<sup>**</sup>
      </td>
      <td>
        Kino, Zirkus, Bedienung von Gästen in Gastrobetrieben
      </td>
    </tr>
    </tbody>
  </table>
  <p class="small-stars">
    <sup>*</sup> Detailbestimmungen: www.smalljobs.ch/jugendschutz
    <br/>
    <sup>**</sup> Maximal die halben Ferien lang
  </p>
  <div class="row">
    <div class="column">
      <div class="signature" style="margin-left: 27px;">
      </div>
      <p class="sign-par" style="    margin-left: 26px !important;">Ort, Datum</p>
    </div>
    <div class="column">
      <div class="signature" style="margin-right: 26px;">
      </div>
      <p class="sign-par" style="margin-left: 0px !important;">Unterschrift <%= @provider.name %></p>
    </div>
  </div>
  <footer class="bottom right">
    Seite 1 von 2 / Bitte wenden ->
  </footer>
</div>
<div id="page3" class="page alwaysbreak">
  <h1 class="first-header">
    <b>Jugendliche/r:</b> Diesen Code bei Arbeitsbeginn mit dem Scanner der Jugendapp<sup>*</sup>
    einlesen und Anweisungen in der App befolgen.
  </h1>
  <p class="small-star">
    <sup>*</sup>www.jugendinfo.win/app
  </p>
  <div>
    <div class="center qr">
      <img id="qr" src="<%= @qrcode.to_data_url %>">
    </div>
  </div>
  <h1 class="second-header">
    Arbeitseinsätze
  </h1>
  <table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" bordercolor="#cbe7d5">
    <thead>
    <tr>
      <th>
        Datum
      </th>
      <th>
        Dauer (h)
      </th>
      <th>
        CHF
      </th>
      <th>
        Vorname, Name Jugendliche/r
      </th>
      <th>
        Unterschrift Jugendliche/r
      </th>
    </tr>
    </thead>
    <tbody>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    <tr><td colspan="5"></td></tr>
    </tbody>
  </table>
  <p class="bottom-txt">
    Wenn das Formular voll ist, bitte senden an:
    <br/>
    <%= @provider.organization.name %> <%= @provider.organization.street %>, <%= @provider.organization.place.full_name %>
  </p>
  <footer class="bottom right">
    Seite 2 von 2
  </footer>
</div>
</body>
</html>