<!doctype html>
<html>
  <head>
    <meta charset='utf-8'/>
    <%if Rails.env.production?%>
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <% else %>
      <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <% end %>
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
  </head>
<body>

  <div id="page-1" class="alwaysbreak page page-default">
    <div class="text-container">
      <img id="logo" src="<%= wicked_pdf_asset_base64 'sj-logo.png' %>">
      <div class="header-text">
        <%= @provider.organization.name %> – <%= @provider.organization.street %>
        – <%= @provider.organization.place.full_name %>
      </div>
      <div class="standard-text margin-top-120">
        <%= @provider.company != nil && !@provider.company.blank? ? "#{@provider.company}<br/>".html_safe : "<br/>".html_safe %>
        <%= @provider.name %><br/>
        <%= @provider.street %><br/>
        <%= @provider.place.full_name %>
      </div>
      <div class="standard-text margin-top-80">
        <%= @letter_msg.html_safe %>
      </div>
      <div class="standard-text margin-top-40">.................................................</div>
      <div class="standard-text">
        <%= @broker.name %><br/>
        <%= @broker.mobile.blank? ? @broker.phone : @broker.mobile %><br/>
        <%= @broker.email %>
      </div>
      <footer class="left-footer">
        <p>
          <%= @provider.organization.name %><br/>
          <%= @provider.organization.street %>, <%= @provider.organization.place.full_name %><br/>
          <%= @provider.organization.phone %>, <%= @provider.organization.email %>
        </p>
      </footer>
    </div>
  </div>





<div id="page-2" class="alwaysbreak page page-default">
  <div class="banner-container">
    <% if @provider.organization.background.present? %>
        <img id="baner" src="<%= @provider.organization.background.url(:web) %>" width="100%" height="300mm">
    <% else %>
        <img id="baner" src="<%= wicked_pdf_asset_base64 'ParentalAgreement.jpg' %>" width="100%" height="300mm">
    <% end %>
    <div class="banner-title">Sackgeldjobs<br/>
      <span>Arbeitszeiterfassung</span></div>
    <div class="group-logos bottom-80">

    <% if @provider.organization.logo.present? %>
        <img class="others-logo-img"  src="<%= @provider.organization.logo.url(:web, :normal) %>">
    <% end %>
    <% if @provider.organization.regions.first.logo.present? %>
        <img class="others-logo-img"  src="<%= @provider.organization.regions.first.logo.url(:web, :normal) %>">
    <% end %>
    <img class="smalljobs-logo-img" src="<%= wicked_pdf_asset_base64 'sj-logo-white.png' %>">
    </div>
    <div class="bank-info">
      Die Sackgeldjob-Börse ist ein kostenloses Angebot von smallJobs<br/>
      <span>Möchten sie uns unterstützen?</span><br/>
      <span>Unser Spendenkonto lautet: CH81 0900 0000 8558 01170</span>
    </div>
  </div>


  <div class="body-container">
    <div class="margin-top-40 font-bigger font-bold">
      Arbeitgeber_in:
    </div>
    <div class="font-bigger">
      <%= @provider.company != nil && !@provider.company.blank? ? "#{@provider.company}, " : "" %><%= @provider.name %>
    </div>
    <p class="font-smaller">
      <%= @provider.street %>, <%= @provider.place.full_name %>
    </p>



    <p class="font-bigger padding-bottom-5"><b>1.</b></p>
    <div class="row-w font-20">
      <div class="col1">Jugendliche_r:</div>
      <div class="col2"><span>> Diesen Code bei Arbeitsbeginn mit dem Scanner der<br>
        &nbsp; &nbsp;Jugendapp* einlesen und Anweisungen in der App befolgen.</span></div>
      <div class="clear-both"></div>
    </div>

    <br>
    <br>

    <div class="row-w">
      <div class="col1-qr">
        Mit Arbeitsbeginn sind Jugendliche und
        Arbeitgebende mit den smallJobs Richtlinien
        einverstanden (siehe Seite 2)
        <br><br>
        <b>Keine App vorhanden?</b>
        <br>
        Bitte Arbeitsstunden von Hand
        aufschreiben
      </div>
      <div class="col2-qr">
        <div class="border-qr">
          <img id="qr" src="<%= @qrcode.to_data_url %>">
        </div>
      </div>
      <div class="clear-both"></div>
    </div>



    <p class="font-bigger padding-bottom-5"><b>2.</b></p>
    <div class="row-w font-20">
      <div class="col1">Jugendliche_r:</div>
      <div class="col2">> Arbeiten unter Anleitung des Arbeitgebenden.</div>
      <div class="clear-both"></div>
    </div>

    <br/>

    <p class="font-bigger padding-bottom-5"><b>3.</b></p>
    <div class="row-w font-20">
      <div class="col1">Jugendliche_r:</div>
      <div class="col2">
        > Arbeit beenden
        <br>
        > Zeitzähler in der App stoppen
        <br>
        > Lohn in der App ablesen
      </div>
      <div class="clear-both"></div>
      <br/>
      <div class="col1">Arbeitgeber_in:</div>
      <div class="col2">
        > Lohn auszahlen
      </div>
      <div class="clear-both"></div>
    </div>
  </div>
  <footer class="footer-right">
    *www.jugend.app <span>Seite 1 von 2</span>
  </footer>
</div>





<div id="page-3" class="page alwaysbreak page-default">
  <div class="body-container">
    <%= raw @provider.organization.regions&.first&.rules %>
      <footer class="footer-right">
        Seite 2 von 2
      </footer>
  </div>

</div>
</body>
</html>
