%h1= I18n.t('providers.edit.title', name: @provider.name)
%p.lead= I18n.t('providers.edit.lead')

= render 'form'

%ul.nav.nav-pills
  %li= link_to I18n.t('common.show'), broker_provider_path(@provider)
  %li= link_to I18n.t('common.back'), broker_providers_path
