%a.back_button{href: '#'}
  = '< ' + t('common.back')

%div.row
  %div.col-sm-8
    = render 'form'
  %div.col-sm-4.margin_top_120.bg-allocations
    = render 'todos'
    %div.provider_allocations
      = render 'allocations'
    = render 'assignments'
