%h1= t('providers.index.title')
%p.lead= t('providers.index.lead')

.table-responsive
  %table.table.table-striped
    %tr
      %th
      %th= t('activerecord.attributes.provider.firstname')
      %th= t('activerecord.attributes.provider.lastname')
      %th= t('activerecord.attributes.provider.zip')
      %th= t('activerecord.attributes.provider.city')
      %th{ colspan: 3 }

    - if @providers.size == 0
      %tr
        %td{ colspan: 8 }= t('providers.index.no_providers')

    - @providers.each do |provider|
      %tr{ class: provider_status_class(provider) }
        %td
          = provider_label(provider)
        %td= provider.firstname
        %td= provider.lastname
        %td= provider.zip
        %td= provider.city

        %td= link_to '', broker_provider_path(provider), class: 'fa fa-eye', title: t('common.show')
        %td= link_to '', edit_broker_provider_path(provider), class: 'fa fa-pencil', title: t('common.edit')
        %td= link_to '', broker_provider_path(provider), method: :delete, title: t('common.destroy'), data: { confirm: t('common.sure') }, class: 'fa fa-trash-o'

= link_to t('providers.index.add_new'), new_broker_provider_path, class: 'btn btn-primary'
