%h1= t('providers.show.title', name: @provider.name)
%p.lead= t('providers.show.lead')

.panel.panel-default
  .panel-body

    .address
      .status.pull-right= provider_label(@provider)

      %strong= @provider.name
      %br

      = @provider.street
      %br

      = "#{ @provider.zip } #{ @provider.city }"
      %br
      %br

      - if @provider.phone
        %abbr{ title: t('activerecord.attributes.provider.phone') } T:
        = @provider.phone.phony_formatted
        %br

      - if @provider.mobile
        %abbr{ title: t('activerecord.attributes.provider.mobile') } M:
        = @provider.mobile.phony_formatted
        %br

      - if @provider.email
        %a{ href: 'mailto:#' }= @provider.email
        %br

%ul.nav.nav-pills
  %li= link_to t('common.edit'), edit_broker_provider_path(@provider)
  %li= link_to t('common.back'), broker_providers_path
