%h1= t('seeker.jobs.allocations.index.title', title: @job.title)
%p.lead= t('seeker.jobs.allocations.lead')

.table-responsive
  %table.table.table-striped
    %tr
      %th= t('activerecord.attributes.allocation.seeker')
      %th= t('activerecord.attributes.allocation.message')

    - if @allocations.size == 0
      %tr
        %td{ colspan: 3 }= t('seeker.jobs.allocations.index.no_allocations')

    - @allocations.each do |allocation|
      %tr
        %td= allocation.seeker.name
        %td= allocation.message

%ul.nav.nav-pills
  %li= link_to t('common.back'), seeker_job_path(@job)
