= simple_form_for([:provider, @job], html: { novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  %h3
    = "Status: "
    = I18n.t("common.#{@job.state}")

  %fieldset
    %legend
      = t('legends.job')
      %i.fa.fa-2x.fa-user.pull-right

    .form-inputs
      = f.association :work_category, required: true, include_blank: true
      = f.input :title, required: true
      = f.input :long_description
      = f.input :short_description

  %fieldset
    %legend
      = t('legends.date')
      %i.fa.fa-2x.fa-calendar.pull-right

    .form-inputs
      = f.input :date_type, collection: job_date_types, include_blank: false
      = f.input :start_date, include_blank: true, start_year: 2017
      = f.input :end_date, include_blank: true, start_year: 2017

  %fieldset
    %legend
      = t('legends.salary')
      %i.fa.fa-2x.fa-money.pull-right

    .form-inputs
      -if current_provider.organization.wage_factor != 1
        = f.input :salary_type, collection: job_salary_types_with_factor(current_provider.organization.wage_factor), include_blank: false, hint: t('legends.seeker_salary_hint_wage_factor', wage_factor: current_provider.organization.wage_factor)
      -else
        = = f.input :salary_type, collection: job_salary_types, include_blank: false
      = f.input :salary, include_blank: true, required: true

  %fieldset
    %legend
      = t('legends.workers')
      %i.fa.fa-2x.fa-clock-o.pull-right

    .form-inputs
      = f.input :manpower, require: true
      = f.input :duration, require: true, hint: false

  .form-actions
    - if @job.new_record?
      = f.button :submit, t('common.create'), class: 'btn btn-primary btn-success'
    - else
      = f.button :submit, t('common.edit'), class: 'btn btn-primary btn-success'
