%h1= t('pages.sign_up.title')

%h2= t('pages.sign_up.job_offer_title')
%p= t('pages.sign_up.job_offer_text')
= link_to t('pages.sign_up.job_offer_button'), new_provider_registration_path, class: 'btn btn-success'

%h2= t('pages.sign_up.job_find_title')
%p= t('pages.sign_up.job_find_text')



