%h1= t('pages.sign_in.title')

= simple_form_for(:provider, url: new_session_path("provider"), html: { novalidate: true }) do |f|

  .form-inputs
    = f.input :login, required: true, autofocus: true, label: t('pages.sign_in.login')
    = f.input :password, required: true, label: t('pages.sign_in.password')

  .form-actions
    = f.button :submit, t('pages.sign_in.action'), class: 'btn btn-primary'

-#= render 'devise/shared/links'


