%h2= I18n.t('seekers.registrations.edit.title')
%p= I18n.t('seekers.registrations.edit.lead')

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  %fieldset
    %legend
      = I18n.t('legends.login')
      %i.fa.fa-2x.fa-user.pull-right

    .form-inputs
      = f.input :email, autofocus: true

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p= I18n.t('devise_views.wait_confirmation', email: resource.unconfirmed_email)

      = f.input :password, required: false, autocomplete: 'off', hint: I18n.t('devise_views.leave_empty')
      = f.input :password_confirmation, required: false

  %fieldset
    %legend
      = I18n.t('legends.address')
      %i.fa.fa-2x.fa-home.pull-right

    .form-inputs
      = f.input :firstname, required: true
      = f.input :lastname, required: true
      = f.input :street, required: true
      = f.input :zip, required: true
      = f.input :city, required: true

  %fieldset
    %legend
      = I18n.t('legends.contact')
      %i.fa.fa-2x.fa-phone.pull-right

    .form-inputs
      = f.input :phone
      = f.input :mobile
      = f.input :contact_preference, collection: provider_contact_preferences
      = f.input :contact_availability

  %fieldset
    %legend
      = I18n.t('legends.work')
      %i.fa.fa-2x.fa-phone.pull-right

    .form-inputs
      = f.association :work_categories, as: :check_boxes

  .form-actions
    = f.input :current_password, required: true, hint: I18n.t('devise_views.need_password')
    = f.button :submit, I18n.t('seekers.registrations.edit.action'), class: 'btn btn-primary'

%h3= I18n.t('seekers.registrations.edit.cancel.title')
%p= I18n.t('seekers.registrations.edit.cancel.lead')

%p= link_to I18n.t('seekers.registrations.edit.cancel.action'), registration_path(resource_name), data: { confirm: I18n.t('common.sure') }, method: :delete
