%h2= t('seekers.registrations.new.title')
%p.lead= t('seekers.registrations.new.lead')

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  %fieldset
    %legend
      = t('legends.login')
      %i.fa.fa-2x.fa-user.pull-right

    .form-inputs
      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
      = f.input :date_of_birth, required: true, start_year: Date.today.year - 18, end_year: Date.today.year - 13, include_blank: true
      = f.input :sex, collection: seeker_sex, include_blank: false

  %fieldset
    %legend
      = t('legends.address')
      %i.fa.fa-2x.fa-home.pull-right

    .form-inputs
      = f.input :firstname, required: true
      = f.input :lastname, required: true
      = f.input :street, required: true
      = f.association :place, required: true, collection: current_region.places, include_blank: true

  %fieldset
    %legend
      = t('legends.contact')
      %i.fa.fa-2x.fa-phone.pull-right

    .form-inputs
      = f.input :phone, required: true
      = f.input :mobile, required: true
      = f.input :contact_preference, collection: seeker_contact_preferences, include_blank: false
      = f.input :contact_availability

  %fieldset
    %legend
      = t('legends.work')
      %i.fa.fa-2x.fa-wrench.pull-right

    .form-inputs
      = f.association :work_categories, as: :check_boxes
      = f.association :organization, as: :select, required: true

  -# very old code seekers doesn't have terms
  -#%fieldset
  -#  %legend
  -#    = t('legends.terms')
  -#    %i.fa.fa-2x.fa-legal.pull-right
  -#
  -#  .form-inputs
  -#    = f.input :terms, as: :boolean, label: I18n.t('common.terms', rules_of_action: link_to(t('navigation.rules_of_action'), rules_of_action_path, data: { toggle: 'modal', target: '#rules-of-action-modal' }), terms_of_service: link_to(t('navigation.terms_of_service'), terms_of_service_path, data: { toggle: 'modal', target: '#terms-of-service-modal' }), privacy_policy: link_to(t('navigation.privacy_policy'), privacy_policy_path, data: { toggle: 'modal', target: '#privacy-policy-modal' })).html_safe
  -#
  .form-actions
    = f.button :submit, t('seekers.registrations.new.register'), class: 'btn btn-primary'

#rules-of-action-modal.modal.fade
  .modal-dialog
    .modal-content
      = t('common.loading')

#terms-of-service-modal.modal.fade
  .modal-dialog
    .modal-content
      = t('common.loading')

#privacy-policy-modal.modal.fade
  .modal-dialog
    .modal-content
      = t('common.loading')

= render 'devise/shared/links'
