- if !@allocations[@job.id].nil? && !@allocations[@job.id][Allocation.states[:active]].nil?
  %h5= "Aktive Anstellungen"
  - for allocation in @allocations[@job.id][Allocation.states[:active]]
    %p
      = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

- if !@allocations[@job.id].nil? && !@allocations[@job.id][Allocation.states[:application_open]].nil?
  %h5= "Bewerbungen"
  - for allocation in @allocations[@job.id][Allocation.states[:application_open]]
    %p
      = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

- if !@allocations[@job.id].nil? && !@allocations[@job.id][Allocation.states[:proposal]].nil?
  %h5= "Job Vorschläge"
  - for allocation in @allocations[@job.id][Allocation.states[:proposal]]
    %p
      = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

- if !@allocations[@job.id].nil? && !@allocations[@job.id][Allocation.states[:cancelled]].nil?
  %h5= "Abgebrochene Anstellungen"
  - for allocation in @allocations[@job.id][Allocation.states[:cancelled]]
    %p
      = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

- if !@allocations[@job.id].nil? && !@allocations[@job.id][Allocation.states[:application_rejected]].nil?
  %h5= "Bewerbungen abgelehnt"
  - for allocation in @allocations[@job.id][Allocation.states[:application_rejected]]
    %p
      = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

- if !@allocations[@job.id].nil? && !@allocations[@job.id][Allocation.states[:finished]].nil?
  %h5= "Beendete Anstellungen"
  - for allocation in @allocations[@job.id][Allocation.states[:finished]]
    %p
      = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)



