- all_allocations = @allocations.where(job: @job)

- allocations = all_allocations.application_open
- first = true
- for allocation in allocations
  - if first
    %h5= "Bewerbungen"
    - first = false
  %p
    = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

- allocations = all_allocations.application_rejected
- first = true
- for allocation in allocations
  - if first
    %h5= "Bewerbungen abgelehnt"
    - first = false
  %p
    = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

- allocations = all_allocations.proposal
- first = true
- for allocation in allocations
  - if first
    %h5= "Job Vorschläge"
    - first = false
  %p
    = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

- allocations = all_allocations.active
- first = true
- for allocation in allocations
  - if first
    %h5= "Aktive Anstellungen"
    - first = false
  %p
    = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

- allocations = all_allocations.finished
- first = true
- for allocation in allocations
  - if first
    %h5= "Beendete Anstellungen"
    - first = false
  %p
    = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

- allocations = all_allocations.cancelled
- first = true
- for allocation in allocations
  - if first
    %h5= "Abgebrochene Anstellungen"
    - first = false
  %p
    = link_to "#{allocation.seeker.name}", broker_job_allocation_path(@job, allocation.seeker)

