%div.modal.fade{id: "js-rocket-chat-broadcast-modal"}
  %div.modal-dialog.modal-lg
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        = "Erstelle einen neuen Broadcast"
      %div
        #js-rocket-chat-brodcast-container.sj-rocket-chat-brodcast-container 
          = form_tag message_broker_rocketchats_path do 
            .form-group
              - @seekers.each do |seeker|
                = label_tag do 
                  = check_box_tag 'broadcast[seeker_ids][]', seeker.id, false, id: "seeker_#{seeker.id}", class: 'sj-checkbox-tag', data: {rc_name: seeker.rc_username, seeker_id: seeker.id}
                  = seeker.name
            .form-group    
              = label_tag "brodcast[message]", "Deine Nachricht:"   
              = text_area(:broadcast, :message, class: "form-control", row: 8, style: "min-height: 150px;")
            .form-group.overflow-hidden 
              = button_tag type: "submit", class: 'btn btn-success float-right js-send-broadcast-rocketchat sj-send-broadcast-rocketchat' do 
                %i.fad.fa-spinner-third.fa-spin
                = "senden"    
      -#%div.modal-footer


%div.modal.fade{id: "js-rocket-chat-all-broadcast-seekers-modal"}
  %div.modal-dialog.modal-lg
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        = "Last message and recipient list"
      %div
        #js-rocket-chat-all-brodcast-seekers-container.sj-rocket-chat-brodcast-container 
          .js-rocket-chat-message 
          %br
          %br
          .js-rocket-chat-seekers-list
          
      -#%div.modal-footer      