%div.row.margin-top-25
  %div.col-sm-8.float-left
    = link_to t('seekers.index.add_new'), new_broker_seeker_path, class: 'btn btn-success'
    = link_to t('seekers.index.message_to_all'), "#", class: 'btn btn-success margin_left_20 js-message-to-all-rocketchat'
    = link_to t('seekers.index.show_all_broadcast'), last_message_broker_broadcast_messages_path, class: 'btn btn-success margin_left_20 js-message-show-all-broadcast'
  -# %div.col-sm-2.float-left
  -#   = link_to t('seekers.index.message_to_all'), broadcast_room_broker_rocketchats_path, class: 'btn btn-success js-message-to-all-rc'


  %div.col-sm-3.float-right
    %input.form-control.search{type: 'text', class: 'search-field js-search-field-seeker', placeholder: 'Suche'}
    %i.fa.fa-2x.fa-times-circle.delete-icon.display-none.js-seeker-delete-icon
    .sj-age-slider-container-relative
      .sj-age-slider-container.js-age-slider-container.display-none
        #js-lower-value.sj-lower-value.col-xs-2
        .sj-slider.col-xs-6.col-xs-offset-1
          #js-age-scroll
        #js-higher-value.sj-higher-value.col-xs-2.col-xs-offset-1
  %div.col-sm-1.float-right
    %a.btn.archive-btn
      = "Archiv"
  %div.col-sm-2.float-right
.table-responsive
  %table.table.table-striped.sortable
    %thead
      %tr
        %th.sortable{id: 'seeker_status'}= t('broker_dashboard.seekers_table.status')
        %th.sortable{id: 'seeker_date'}= t('broker_dashboard.jobs_table.date')
        %th.sortable{id: 'seeker_chat'}= t('broker_dashboard.seekers_table.chat')
        %th.sortable{id: 'seeker_seeker'}= t('broker_dashboard.seekers_table.name')
        %th.sortable{id: 'seeker_address'}= t('broker_dashboard.seekers_table.address')
        %th.sortable{id: 'seeker_plz'}= t('broker_dashboard.seekers_table.plz')
    %tbody.list
      - if @seekers.size == 0
        %tr
          %td{ colspan: 4 }= t('seekers.index.no_seekers')
      - @seekers.each do |seeker|
        %tr{ class: "organization organization-#{seeker.organization_id} status-#{seeker.stat_name}" }
          %td.status
            = seeker_label(seeker)
          %td{sorttable_customkey: seeker.updated_at.strftime("%Y%m%d%H%M%S")}
            = seeker.updated_at.strftime("%d.%m.%Y")
          %td.chat{sorttable_customkey: @unread_messages.dig(seeker.id, :timestamp).try(:strftime, "%Y%m%d%H%M%S") }
            .favicon-box.js-list-seeker-rocket-chat-inbox
              .hidden
                .js-rc-seeker-username{data: {username: seeker.rc_username.to_s, id: seeker.rc_id, error: I18n.t("broker.seeker.edit.error")}}
                = link_to '#', edit_broker_seeker_path(seeker, chat: 'open') , class: 'js-rocket-chat-seeker-edit'
                - if seeker.rc_username.present?
                  -# = link_to '#', room_broker_rocketchats_path(seeker.rc_username), class: 'js-rocket-chat-room', data: {username: seeker.rc_username.to_s, id: seeker.rc_id}
                  -# = link_to '#', edit_broker_seeker_path(seeker, chat: 'open'), class: 'js-rocket-chat-room'
                  = link_to '#', room_broker_rocketchats_path(seeker.rc_username), class: 'js-rocket-chat-room-in-loop'
              = inbox_icon(@unread_messages.dig(seeker.id, :quantity))
          %td.name= link_to seeker.name, edit_broker_seeker_path(seeker)
          %td.street= seeker.street
          %td.place= seeker.place.zip + ' ' + seeker.place.name
          %td.phone.display-none
            = seeker.phone
          %td.mobile.display-none
            = seeker.mobile
          %td.contact_preference.display-none
            = seeker.contact_preference
          %td.contact_availability.display-none
            = seeker.contact_availability
          %td.email.display-none
            = seeker.email
          %td.sex.display-none
            = seeker.sex
          %td.occupation.display-none
            = seeker.occupation
          %td.additional_contacts.display-none
            = seeker.additional_contacts
          %td.languages.display-none
            = seeker.languages
          %td.age.display-none
            = seeker.age
          %td.rc_username.display-none= seeker.rc_username
          %td.id.display-none= seeker.id