%div{id: 'dashboard'}
  %div.row
    %div.col-sm-3
      %div.dropdown
        %select{id: 'dropdown-btn'}
          %option{value: "0"}
            = "Alle Organisationen"
          - for organization in current_broker.all_organizations
            %option{value: "#{organization.id}", data: {'vacation-start': organization.start_vacation_date,
            'vacation-end': organization.end_vacation_date,
            'show-date': ( organization.vacation_active && (organization.end_vacation_date.present? && (organization.end_vacation_date > Date.today))).to_s},
            selected: organization.id == current_broker.selected_organization_id}

              = organization.name
    %div.col-sm-2.float-left.display-none
      %input.form-control.search{type: 'text', id: 'search-field', placeholder: 'Suche'}
    %div.col-sm-1.float-left.display-none
      %a.pointer{id: 'clear-btn', style: 'display: none'}
        %i.fa.fa-close.fa-3x

  %br

  %div.modal.fade{id: "jobFormModal"}
    %div.modal-dialog
      %div.modal-content
        %div.modal-header
          %button.close{"data-dismiss": "modal", type: "button"} &times;
          %h2
            = "Job Formular"
        %div.modal-body
          %p
            = "Dieses Job Formular soll ausschliesslich da zur Anwendung kommen, wo nicht mit der digitalen Version gearbeitet werden kann. Das Formular kann ausgedruckt und in den jeweiligen Institutionen aufgelegt werden. Hier geht's zum Download:"
          = link_to "Job Formular", asset_path("Job_Formular.pdf"), class: 'btn btn-success'
        %div.modal-footer

  %ul.nav.nav-pills.js-active-tab
    %li.active
      %a{'data-toggle': 'tab', href: '#todos'}
        =t('broker_dashboard.todo')
        %span
          = "(#{@todos&.current&.length.to_i})"
    %li
      %a{'data-toggle': 'tab', href: '#jobs'}
        =t('broker_dashboard.jobs')
        %span
          = "(#{@jobs&.length.to_i})"
    %li
      %a{'data-toggle': 'tab', href: '#providers'}
        =t('broker_dashboard.providers')
        %span
          = "(#{@providers&.length.to_i})"
    %li
      %a{'data-toggle': 'tab', href: '#seekers', id: 'js-tab-seekers'}
        =t('broker_dashboard.seekers')
        %span
          = "(#{@seekers&.length.to_i})"

    %li
      %a{'data-toggle': 'tab', href: '#assignments'}
        =t('broker_dashboard.assignments')
        %span
          = "(#{@assignments&.length.to_i})"
  %div.tab-content
    %div{id: 'todos', class: 'tab-pane fade in active'}
      %ul.nav.nav-pills.margin_top_20.js-todo-tabs{style: {display: 'none'}}
        %li.active
          %a{'data-toggle': 'tab', href: '#todo_current'}
            =t('broker_dashboard.aktuelle')
        %li.margin_left_20
          %a{'data-toggle': 'tab', href: '#todo_postponed'}
            =t('broker_dashboard.verschoben')
        %li.margin_left_20
          %a{ id: 'js-tab-unread-messages' }
            =t('broker_dashboard.ungelesene_nachrichten')
            %span
              = "(#{current_broker.unread_messages_sum})"
        %span.js-postpone-msg.margin_left_20{style: 'display: none'}
          =t('broker_dashboard.todo_table.postpone_message')


        %div.row
          %div.col-sm-3.float-right
            %input.form-control.search{type: 'text', class: 'search-field', placeholder: 'Suche'}
            %i.fa.fa-2x.fa-times-circle.delete-icon.display-none
      %div.table-loader-wrapper{id: 'todos-table-to-insert'}
        %i.fad.fa-spinner-third.fa-spin

    %div{id: 'jobs', class: 'tab-pane fade in'}
      %div.row.margin-top-25
        %div.col-sm-2.float-left
          = link_to t('broker.jobs.index.add_new'), new_broker_job_path, class: 'btn btn-success'
        %div.col-sm-3.float-right
          %input.form-control.search{type: 'text', class: 'search-field', placeholder: 'Suche'}
          %i.fa.fa-2x.fa-times-circle.delete-icon.display-none
        %div.col-sm-1.float-right
          %a.btn.archive-btn
            = "Archiv"
        %div.col-sm-2.float-right
          %a.btn.contract-btn{href: "#", "data-toggle": "modal", "data-target": "#jobFormModal"}
            = "Job Formular"
      %div.table-loader-wrapper{id: 'jobs-table-to-insert'}
        %i.fad.fa-spinner-third.fa-spin

    %div{id: 'providers', class: 'tab-pane fade in'}
      %div.table-loader-wrapper{id: 'providers-table-to-insert'}
        %i.fad.fa-spinner-third.fa-spin

    %div{id: 'seekers', class: 'tab-pane fade in'}
      %div.table-loader-wrapper{id: 'seekers-table-to-insert'}
        %i.fad.fa-spinner-third.fa-spin

    %div{id: 'assignments', class: 'tab-pane fade in'}
      %div.table-loader-wrapper{id: 'assignments-table-to-insert'}
        %i.fad.fa-spinner-third.fa-spin

= render partial: 'rocketchat_broadcast_modal'
.hidden.js-current-broker-rc-id{data: {rcid: current_broker.rc_id}}
:javascript
  var target = window.location.hash;
  var params = window.location.search.substr(1);
  if(params === undefined || params === null || params === '') {
    params = '';
  } else {
    params = '?' + params;
  }

  target = target.replace('#', '');
  if(target === '') {
    target = 'todo';
  }
  // window.location.hash = '';

  $(document).ready(function(){
    $('.search-field').val('')

    $('.nav-pills a[href="#' + target + '"]').tab('show');
    setHelp();

    var selectedOrganizationId = 0;
    var finishedVisible = false;

    if(params.includes('archive=true')) {
      $('.archive-btn').addClass('archive-btn-selected');
    }

    $('.archive-btn').click(function(){
      if(params.includes('archive=true')) {
        var newLocation = window.location.href.split('#')[0].replace('?archive=true', '') + '#' + target;
        window.location.href = newLocation;
      } else {
        if(window.location.href.includes('?')) {
          var newLocation = window.location.href.split('#')[0] + 'archive=true' + '#' + target;
        } else {
          var newLocation = window.location.href.split('#')[0] + '?archive=true' + '#' + target;
        }

        window.location.href = newLocation;
      }
    });

    var tableSorted = [false, false, false, false, false];

    function loadSortedColumn() {
      var hash = target;
      var sortedColumnId = sessionStorage.getItem('sortedColumn' + hash);
      if(sortedColumnId != undefined) {
        sorttable.init(false);
        sorttable.innerSortFunction.apply(document.getElementById(sortedColumnId), []);
        if(sessionStorage.getItem('sortedReverse' + hash) === 'true') {
          sorttable.innerSortFunction.apply(document.getElementById(sortedColumnId), []);
        }
      } else {
        sorttable.init(false);
        if(hash === "todo" && !tableSorted[0]) {
          tableSorted[0] = true;
          sorttable.innerSortFunction.apply(document.getElementById('todo_date'), []);
          sorttable.innerSortFunction.apply(document.getElementById('todo_date'), []);
        }
        if(hash === "jobs" && !tableSorted[1]) {
          tableSorted[1] = true;
          sorttable.innerSortFunction.apply(document.getElementById('job_date'), []);
          sorttable.innerSortFunction.apply(document.getElementById('job_date'), []);
        }
        if(hash === "providers" && !tableSorted[2]) {
          tableSorted[2] = true;
          sorttable.innerSortFunction.apply(document.getElementById('provider_date'), []);
          sorttable.innerSortFunction.apply(document.getElementById('provider_date'), []);
        }
        if(hash === "seekers" && !tableSorted[3]) {
          tableSorted[3] = true;
          sorttable.innerSortFunction.apply(document.getElementById('seeker_date'), []);
          sorttable.innerSortFunction.apply(document.getElementById('seeker_date'), []);
        }
        if(hash === "assignments" && !tableSorted[4]) {
          tableSorted[4] = true;
          sorttable.innerSortFunction.apply(document.getElementById('assignment_date'), []);
          sorttable.innerSortFunction.apply(document.getElementById('assignment_date'), []);
        }
      }
    }

    $('th.sortable').click(function() {
      var hash = target;
      sessionStorage.setItem('sortedColumn' + hash, $(this).attr('id'));
      if($(this).hasClass('sorttable_sorted')) {
        sessionStorage.setItem('sortedReverse' + hash, 'true');
      } else {
        sessionStorage.setItem('sortedReverse' + hash, 'false');
      }
    });

    function checkSearchField() {
      var searchString = window.localStorage.getItem("search_filter");
      if(searchString === null || searchString === 'null') {
        searchString = "#{current_broker.filter.nil? ? '' : current_broker.filter}";
      }

      window.localStorage.setItem("search_filter", null);

      $('.search-field').val(searchString);

      if(searchString !== "") {
        $('.delete-icon').removeClass('display-none');
      }

      if (jobsList) {
        jobsList.search(searchString);
      }
      if (providersList) {
        providersList.search(searchString);
      }
      if (seekersList) {
        seekersList.search(searchString);
      }
      if (assignmentsList) {
        assignmentsList.search(searchString);
      }
      if (todosCurrentList) {
        todosCurrentList.search(searchString);
      }
      if (todosPostponedList) {
        todosPostponedList.search(searchString);
      }
    }

    function loadOrganization() {
      selectedOrganizationId = "#{current_broker.selected_organization_id}";

      if(selectedOrganizationId === '0') {
        $('.display-none.organization').removeClass('display-none');
      } else {
        $('.display-none.organization').removeClass('display-none');
        $('.organization').addClass('display-none');
        $('.organization-' + selectedOrganizationId).removeClass('display-none');
      }

      $('#dropdown-btn').val(selectedOrganizationId);
      // $('#dropdown-btn').text($('.organization-dropdown[data-value="' + id + '"]').text());
    }

    $('.nav-pills a').on('shown.bs.tab', function (e) {
      var history_array = JSON.parse(sessionStorage.getItem('history') || '[]')
      history_array.push(window.location.href.split('#')[0] + e.target.hash );
      sessionStorage.setItem('history', JSON.stringify(history_array))

      sessionStorage.setItem('previous', window.location.href);
      if(history.pushState) {
        history.pushState(null, null, params + e.target.hash);
      }
      else {
        location.hash = e.target.hash;
      }

      target = e.target.hash.replace('#', '');
      //loadSortedColumn();
      setHelp();
    });

    $('#dropdown-btn').on('change', function(){
      selectedOrganizationId = this.value;
      $.post("#{save_settings_broker_dashboard_path}", {selected_organization_id: parseInt(selectedOrganizationId)})
        .success(function(response){
          toastr.success(response.message);
        })
        .fail(function(response){
          toastr.error(response.responseJSON.message);
        });


      var name = $(this).find("option:selected").text();
      var vacationStart = $(this).find("option:selected").data('vacation-start');
      var vacationEnd = $(this).find("option:selected").data('vacation-end');
      var showDate = $(this).find("option:selected").data('show-date');

      if(selectedOrganizationId === '0') {
        $('.display-none.organization').removeClass('display-none');
      } else {
        $('.display-none.organization').removeClass('display-none');
        $('.organization').addClass('display-none');
        $('.organization-' + selectedOrganizationId).removeClass('display-none');
      }


      if(vacationStart!=undefined && showDate){
        $('.js-organisation-name').text(name)
        $('.js-org-start-date').text(vacationStart)
        $('.js-org-end-date').text(vacationEnd)
        $('.js-organization').show()
      }else{
        $('.js-organization').hide()
      }

      $.each($('.js-active-tab a'), function(){
           if ($(this).attr('href') != "#todos"){
            value = $("tr.organization", $($(this).attr('href'))).length - $("tr.display-none", $($(this).attr('href'))).length
            $("span",$("[href='"+$(this).attr('href')+"']")).text("("+value+")")
          }else{
            $.each($('.js-todo-tabs a'), function(){
              if($(this).attr('aria-expanded') == 'true'){
                value = $("tr.organization", $($(this).attr('href'))).length - $("tr.display-none", $($(this).attr('href'))).length
                $("span",$("[href='#todos']")).text("("+value+")")
              }
            })
          }
      })
    });

    $('.js-todo-tabs a').on('click', function(){
      _that = $(this);
      $.each($('.js-active-tab a'), function(){
          if ($(this).attr('href') != "#todos"){
            value = $("tr.organization", $($(this).attr('href'))).length - $("tr.display-none", $($(this).attr('href'))).length
            $("span",$("[href='"+$(this).attr('href')+"']")).text("("+value+")")
          }else{
            $.each($('.js-todo-tabs a'), function(){
              // if($(this).attr('aria-expanded') == 'true'){
              if($(this).attr('href') == _that.attr('href') && $(this).attr('id') != 'js-tab-unread-messages'){
                value = $("tr.organization", $($(this).attr('href'))).length - $("tr.display-none", $($(this).attr('href'))).length
                $("span",$("[href='#todos']")).text("("+value+")")
              }
            })
          }

        })
    })

    var options = {
      valueNames: [ 'name', 'provider-name', 'place', 'status',
      'street', 'title', 'date', 'allocations', 'jobs', 'status', 'payment',
      'feedback', 'description', 'salary', 'manpower', 'duration',
      'long_description', 'short_description', 'phone',
      'mobile', 'contact_preference', 'contact_availability', 'company',
      'email', 'sex', 'additional_contacts', 'occupation', 'languages',
      'age', 'rc_username', 'id' ]
    };

    $('.search-field').on('keyup', function() {
      var searchString = $(this).val();
      if(searchString !== "") {
        $('.delete-icon').removeClass('display-none');
      } else {
        $('.delete-icon').addClass('display-none');
      }
      $('.search-field').val(searchString);

      if (jobsList) {
        jobsList.search(searchString);
      }
      if (providersList) {
        providersList.search(searchString);
      }
      if (seekersList) {
        seekersList.search(searchString);
      }
      if (assignmentsList) {
        assignmentsList.search(searchString);
      }
      if (todosCurrentList) {
        todosCurrentList.search(searchString);
      }
      if (todosPostponedList) {
        todosPostponedList.search(searchString);
      }
    });

    $('.delete-icon').click(function(){
      $('.search-field').val("");
      $('.delete-icon').addClass('display-none');
      var searchString = "";
      if (jobsList) {
        jobsList.search(searchString);
      }
      if (providersList) {
        providersList.search(searchString);
      }
      if (seekersList) {
        seekersList.search(searchString);
      }
      if (assignmentsList) {
        assignmentsList.search(searchString);
      }
      if (todosCurrentList) {
        todosCurrentList.search(searchString);
      }
      if (todosPostponedList) {
        todosPostponedList.search(searchString);
      }
    });

    //checkSearchField();
    loadOrganization();
    //loadSortedColumn();

    window.addEventListener("beforeunload", function (event) {
      // $(window).scrollTop(0);
      var searchFieldVal = $('.search-field').val();
      if(searchFieldVal === null) {
        searchFieldVal = '';
      }
      window.localStorage.setItem("search_filter", searchFieldVal);
      $.post("#{save_settings_broker_dashboard_path}", {filter: searchFieldVal, selected_organization_id: parseInt(selectedOrganizationId)}, function(response) {});
    });


    $('#js-tab-unread-messages').click(function(event){
      event.preventDefault();
      $('#js-tab-seekers').click();
    })
  });
