%p
  = @hello
%p
  = @hello2

%div{id: 'dashboard'}
  %div.row
    %div.col-sm-3
      %div.dropdown
        %select{id: 'dropdown-btn'}
          %option{value: "0"}
            = "Alle Organisationen"
          - for organization in current_broker.all_organizations
            %option{value: "#{organization.id}"}
              = organization.name
    %div.col-sm-2.float-left.display-none
      %input.form-control.search{type: 'text', id: 'search-field', placeholder: 'Suche'}
    %div.col-sm-1.float-left.display-none
      %a.pointer{id: 'clear-btn', style: 'display: none'}
        %i.fa.fa-close.fa-3x

  %br

  %div.modal.fade{id: "jobFormModal"}
    %div.modal-dialog
      %div.modal-content
        %div.modal-header
          %button.close{"data-dismiss": "modal", type: "button"} &times;
          %h2
            = "Job Formular"
        %div.modal-body
          %p
            = "Dieses Job Formular soll ausschliesslich da zur anwendung kommen, wo nicht mit der digitalen Version gearbeitet werden kann. Das Formular kann ausgedruckt und in den jeweiligen Institutionen aufgelegt werden. Hier geht's zum dowmload:"
          %a.btn.btn-success
            = "Job Formular"
        %div.modal-footer

  %ul.nav.nav-pills
    %li.active
      %a{'data-toggle': 'tab', href: '#todo'}
        =t('broker_dashboard.todo')
    %li
      %a{'data-toggle': 'tab', href: '#jobs'}
        =t('broker_dashboard.jobs')
    %li
      %a{'data-toggle': 'tab', href: '#providers'}
        =t('broker_dashboard.providers')
    %li
      %a{'data-toggle': 'tab', href: '#seekers'}
        =t('broker_dashboard.seekers')
    %li
      %a{'data-toggle': 'tab', href: '#assignments'}
        =t('broker_dashboard.assignments')

  %div.tab-content
    %div{id: 'todo', class: 'tab-pane fade in active'}
      %div.row.margin-top-25
        %div.col-sm-3.float-right
          %input.form-control.search{type: 'text', class: 'search-field', placeholder: 'Suche'}
      .table-responsive
        %table.table.table-striped.sortable
          %thead
            %tr
              %th.sortable{id: 'todo_date'}= t('broker_dashboard.todo_table.date')
              %th.sortable{id: 'todo_todo'}= t('broker_dashboard.todo_table.todo')
              %th= t('broker_dashboard.todo_table.description')
          %tbody.list
            - if @todos.size == 0
              %tr
                %td{colspan: 3}= "Es sind noch keine Todo in deiner Region erfasst"
            - @todos.each do |todo|
              %tr{ class: "organization organization-#{todo.organization_id}" }
                - sortable_date = todo.created_at.strftime("%Y%m%d%H%M%S")
                %td.date{sorttable_customkey: sortable_date}
                  = todo.created_at.strftime("%d.%m.%Y")
                %td.title
                  = todo.todotype.title
                %td.description
                  - if todo.record_type == 'job'
                    = link_to 'Job: ' + todo.job.title, edit_broker_job_path(todo.job)
                  - elsif todo.record_type == 'provider'
                    = link_to 'Anbieterln: ' + todo.provider.name, edit_broker_provider_path(todo.provider)
                  - elsif todo.record_type == 'seeker'
                    = link_to 'JugendlicheR: ' + todo.seeker.name, edit_broker_seeker_path(todo.seeker)
                  - elsif todo.record_type == 'allocation'
                    %a{href: "#{url_for broker_job_allocation_path(todo.job, todo.seeker)}"}
                      = 'JugendlicheR: ' + todo.seeker.name
                      %br
                      = 'Anbieterln: ' + todo.provider.name
                      %br
                      = 'Job: ' + todo.job.title

    %div{id: 'jobs', class: 'tab-pane fade in'}
      %div.row.margin-top-25
        %div.col-sm-2.float-left
          = link_to t('broker.jobs.index.add_new'), new_broker_job_path, class: 'btn btn-success'
        %div.col-sm-3.float-right
          %input.form-control.search{type: 'text', class: 'search-field', placeholder: 'Suche'}
        %div.col-sm-1.float-right
          %a.btn.archive-btn.btn-success
            = "Archiv"
        %div.col-sm-2.float-right
          %a.btn.contract-btn{href: "#", "data-toggle": "modal", "data-target": "#jobFormModal"}
            = "Job Formular"
      .table-responsive
        %table.table.table-striped.sortable
          %thead
            %tr
              %th.sortable{id: 'job_status'}= t('broker_dashboard.jobs_table.status')
              %th.sortable{id: 'job_date'}= t('broker_dashboard.jobs_table.date')
              %th.sortable{id: 'job_job'}= t('broker_dashboard.jobs_table.job')
              %th.sortable{id: 'job_provider'}= t('broker_dashboard.jobs_table.provider')
              %th= t('broker_dashboard.jobs_table.allocations')
          %tbody.list
            - if @jobs.size == 0
              %tr
                %td{ colspan: 6 }= t('broker.jobs.index.no_jobs')

            - @jobs.each do |job|
              - @job = job
              %tr{ class: "organization organization-#{job.try(:organization).try(:id)} status-#{job.stat_name}" }
                %td.status
                  = job_label(job)
                - sortable_date = job.last_change_of_state == nil ?  "": job.last_change_of_state.strftime("%Y%m%d%H%M%S")
                %td.date{sorttable_customkey: sortable_date}
                  = job.last_change_of_state == nil ?  "": job.last_change_of_state.strftime("%d.%m.%Y")
                %td.title
                  = link_to job.title, edit_broker_job_path(job)
                %td.name
                  = link_to job.provider.name, edit_broker_provider_path(job.provider)
                %td.allocations
                  = render 'allocations'
                %td.salary.display-none
                  = job.salary
                %td.manpower.display-none
                  = job.manpower
                %td.duration.display-none
                  = job.duration
                %td.long_description.display-none
                  = job.long_description
                %td.short_description.display-none
                  = job.short_description
    %div{id: 'providers', class: 'tab-pane fade in'}
      %div.row.margin-top-25
        %div.col-sm-2.float-left
          = link_to t('providers.index.add_new'), new_broker_provider_path, class: 'btn btn-success'
        %div.col-sm-3.float-right
          %input.form-control.search{type: 'text', class: 'search-field', placeholder: 'Suche'}
        %div.col-sm-1.float-right
          %a.btn.archive-btn.btn-success
            = "Archiv"
        %div.col-sm-2.float-right
      .table-responsive
        %table.table.table-striped.sortable
          %thead
            %tr
              %th.sortable{id: 'provider_status'}= t('broker_dashboard.providers_table.status')
              %th.sortable{id: 'provider_date'}= t('broker_dashboard.jobs_table.date')
              %th.sortable{id: 'provider_provider'}= t('broker_dashboard.providers_table.name')
              %th.sortable{id: 'provider_address'}= t('broker_dashboard.providers_table.address')
              %th.sortable{id: 'provider_plz'}= t('broker_dashboard.providers_table.plz')
              %th.sortable{id: 'provider_jobs'}= t('broker_dashboard.providers_table.jobs')
          %tbody.list
            - if @providers.size == 0
              %tr
                %td{ colspan: 5 }= t('providers.index.no_providers')

            - @providers.each do |provider|
              %tr{ class: "organization organization-#{provider.organization.id} status-#{provider.stat_name}" }
                %td.status
                  = provider_label(provider)
                %td.date{sorttable_customkey: provider.updated_at.strftime("%Y%m%d%H%M%S")}
                  = provider.updated_at.strftime("%d.%m.%Y")
                %td.name= link_to provider.name, edit_broker_provider_path(provider)
                %td.street= provider.street
                %td.place= provider.place.zip + ' ' + provider.place.name
                %td.jobs
                  -provider.jobs.each do |job|
                    %ul.list-unstyled
                      %li= link_to job.title, edit_broker_job_path(job)
                %td.phone.display-none
                  = provider.phone
                %td.mobile.display-none
                  = provider.mobile
                %td.contact_preference.display-none
                  = provider.contact_preference
                %td.contact_availability.display-none
                  = provider.contact_availability
                %td.company.display-none
                  = provider.company
    %div{id: 'seekers', class: 'tab-pane fade in'}
      %div.row.margin-top-25
        %div.col-sm-2.float-left
          = link_to t('seekers.index.add_new'), new_broker_seeker_path, class: 'btn btn-success'
        %div.col-sm-3.float-right
          %input.form-control.search{type: 'text', class: 'search-field', placeholder: 'Suche'}
        %div.col-sm-1.float-right
          %a.btn.archive-btn.btn-success
            = "Archiv"
        %div.col-sm-2.float-right
      .table-responsive
        %table.table.table-striped.sortable
          %thead
            %tr
              %th.sortable{id: 'seeker_status'}= t('broker_dashboard.seekers_table.status')
              %th.sortable{id: 'seeker_date'}= t('broker_dashboard.jobs_table.date')
              %th.sortable{id: 'seeker_seeker'}= t('broker_dashboard.seekers_table.name')
              %th.sortable{id: 'seeker_address'}= t('broker_dashboard.seekers_table.address')
              %th.sortable{id: 'seeker_plz'}= t('broker_dashboard.seekers_table.plz')
          %tbody.list
            - if @seekers.size == 0
              %tr
                %td{ colspan: 4 }= t('seekers.index.no_seekers')

            - @seekers.each do |seeker|
              %tr{ class: "organization organization-#{seeker.try(:organization).try(:id)} status-#{seeker.stat_name}" }
                %td.status
                  = seeker_label(seeker)
                %td{sorttable_customkey: seeker.updated_at.strftime("%Y%m%d%H%M%S")}
                  = seeker.updated_at.strftime("%d.%m.%Y")
                %td.name= link_to seeker.name, edit_broker_seeker_path(seeker)
                %td.street= seeker.street
                %td.place= seeker.place.zip + ' ' + seeker.place.name
                %td.phone.display-none
                  = seeker.phone
                %td.mobile.display-none
                  = seeker.mobile
                %td.contact_preference.display-none
                  = seeker.contact_preference
                %td.contact_availability.display-none
                  = seeker.contact_availability
                %td.email.display-none
                  = seeker.email
                %td.sex.display-none
                  = seeker.sex
                %td.occupation.display-none
                  = seeker.occupation
                %td.additional_contacts.display-none
                  = seeker.additional_contacts
                %td.languages.display-none
                  = seeker.languages
    %div{id: 'assignments', class: 'tab-pane fade in'}
      %div.row.margin-top-25
        %div.col-sm-3.float-right
          %input.form-control.search{type: 'text', class: 'search-field', placeholder: 'Suche'}
      .table-responsive
        %table.table.table-striped.sortable
          %thead
            %tr
              %th.sortable{id: 'assignment_status'}= t('broker_dashboard.assignments_table.status')
              %th.sortable{id: 'assignment_date'}= t('broker_dashboard.jobs_table.date')
              %th.sortable{id: 'assignment_seeker'}= t('broker_dashboard.assignments_table.seeker')
              %th.sortable{id: 'assignment_provider'}= t('broker_dashboard.assignments_table.provider')
              %th.sortable{id: 'assignment_payment'}= t('broker_dashboard.assignments_table.duration_payment')
              %th.sortable{id: 'assignment_feedback'}= t('broker_dashboard.assignments_table.feedback')
          %tbody.list
            - if @assignments.size == 0
              %tr
                %td{ colspan: 5 }= t('seekers.index.no_seekers')

            - @assignments.each do |assignment|
              %tr{ class: "organization organization-#{assignment.provider.try(:organization).try(:id)}" }
                %td.status
                  = assignment_label(assignment)
                %td.date{sorttable_customkey: assignment.created_at.strftime("%Y%m%d%H%M%S")}
                  = assignment.created_at.strftime("%d.%m.%Y")
                %td.name
                  = link_to assignment.seeker.name, edit_broker_seeker_path(assignment.seeker)
                %td.provider-name
                  = link_to assignment.provider.name, edit_broker_provider_path(assignment.provider)
                %td.payment
                  - if assignment.duration != nil
                    - minutes = assignment.duration/60000
                    - minutes = minutes.floor
                    - hours = minutes/60
                    - hours = hours.floor
                    - minutes = minutes % 60
                    = "#{hours}:#{minutes}"
                    = " "
                    - if assignment.payment != nil
                      = ", CHF #{assignment.payment.floor}.-"
                %td.feedback
                  = assignment.feedback

:javascript
  var target = window.location.hash;
  var params = window.location.hash.split('?')[1];
  if(params === undefined) {
    params = '';
  }

  target = target.split('?')[0].replace('#', '');
  if(target === '') {
    target = 'todo';
  }
  window.location.hash = "";

  $(document).ready(function(){
    $('.nav-pills a[href="#' + target + '"]').tab('show');
    setHelp();

    var selectedOrganizationId = 0;
    var finishedVisible = false;
    hideFinished();

    function hideFinished() {
      $('.status-finished').addClass('display-none-st');
      $('.status-active').removeClass('display-none-st');
    }

    function hideActive() {
      $('.status-finished').removeClass('display-none-st');
      $('.status-active').addClass('display-none-st');
    }

    $('.archive-btn').click(function(){
      finishedVisible = !finishedVisible;
      if(finishedVisible) {
        hideActive();
        $('.archive-btn').addClass('archive-btn-selected');
      } else {
        hideFinished();
        $('.archive-btn').removeClass('archive-btn-selected');
      }
    });

    function loadSortedColumn() {
      var hash = target;
      var sortedColumnId = sessionStorage.getItem('sortedColumn' + hash);
      if(sortedColumnId != undefined) {
        sorttable.init();
        sorttable.innerSortFunction.apply(document.getElementById(sortedColumnId), []);
        if(sessionStorage.getItem('sortedReverse' + hash) === 'true') {
          sorttable.innerSortFunction.apply(document.getElementById(sortedColumnId), []);
        }
      }
    }

    $('th.sortable').click(function() {
      var hash = target;
      sessionStorage.setItem('sortedColumn' + hash, $(this).attr('id'));
      if($(this).hasClass('sorttable_sorted')) {
        sessionStorage.setItem('sortedReverse' + hash, 'true');
      } else {
        sessionStorage.setItem('sortedReverse' + hash, 'false');
      }
    });

    function checkSearchField() {
      var searchString = window.localStorage.getItem("search_filter");
      if(searchString === null) {
        searchString = "#{current_broker.filter.nil? ? '' : current_broker.filter}";
      }

      window.localStorage.setItem("search_filter", null);

      $('.search-field').val(searchString);

      // if(searchString !== "") {
      //   $('#clear-btn').css('display', 'initial');
      // } else {
      //   $('#clear-btn').css('display', 'none');
      // }

      jobsList.search(searchString);
      providersList.search(searchString);
      seekersList.search(searchString);
      assignmentsList.search(searchString);
      todosList.search(searchString);
    }

    function loadOrganization() {
      var id = "#{current_broker.selected_organization_id}";
      selectedOrganizationId = id;
      if(id === '0') {
        $('.display-none.organization').removeClass('display-none');
      } else {
        $('.display-none.organization').removeClass('display-none');
        $('.organization').addClass('display-none');
        $('.organization-' + id).removeClass('display-none');
      }

      $('#dropdown-btn').val(id);
      // $('#dropdown-btn').text($('.organization-dropdown[data-value="' + id + '"]').text());
    }

    $('.nav-pills a').on('shown.bs.tab', function (e) {
      var history_array = JSON.parse(sessionStorage.getItem('history') || '[]')
      history_array.push(window.location.href.split('#')[0] + e.target.hash + '?' + params);
      sessionStorage.setItem('history', JSON.stringify(history_array))

      sessionStorage.setItem('previous', window.location.href);
      if(history.pushState) {
        history.pushState(null, null, e.target.hash + '?' + params);
      }
      else {
        location.hash = e.target.hash + '?' + params;
      }


      target = target.split('?')[0].replace('#', '');
      loadSortedColumn();
      setHelp();
    });

    $('#dropdown-btn').on('change', function(){
      var id = this.value;
      selectedOrganizationId = id;
      if(id === '0') {
        $('.display-none.organization').removeClass('display-none');
      } else {
        $('.display-none.organization').removeClass('display-none');
        $('.organization').addClass('display-none');
        $('.organization-' + id).removeClass('display-none');
      }
    });

    var options = {
      valueNames: [ 'name', 'provider-name', 'place', 'status',
      'street', 'title', 'date', 'allocations', 'jobs', 'status', 'payment',
      'feedback', 'description', 'salary', 'manpower', 'duration',
      'long_description', 'short_description', 'phone',
      'mobile', 'contact_preference', 'contact_availability', 'company',
      'email', 'sex', 'additional_contacts', 'occupation', 'languages' ]
    };

    var jobsList = new List('jobs', options);
    var providersList = new List('providers', options);
    var seekersList = new List('seekers', options);
    var assignmentsList = new List('assignments', options);
    var todosList = new List('todo', options);

    $('.search-field').on('keyup', function() {
      var searchString = $(this).val();
      // if(searchString !== "") {
      //   $('#clear-btn').css('display', 'initial');
      // } else {
      //   $('#clear-btn').css('display', 'none');
      // }
      $('.search-field').val(searchString);

      jobsList.search(searchString);
      providersList.search(searchString);
      seekersList.search(searchString);
      assignmentsList.search(searchString);
      todosList.search(searchString);
    });

    $('#clear-btn').click(function(){
      $('#search-field').val("");
      $('#clear-btn').css('display', 'none');
      var searchString = "";
      jobsList.search(searchString);
      providersList.search(searchString);
      seekersList.search(searchString);
      assignmentsList.search(searchString);
      todosList.search(searchString);
    });

    checkSearchField();
    loadOrganization();
    loadSortedColumn();

    window.addEventListener("beforeunload", function (event) {
      var searchFieldVal = $('.search-field').val();
      if(searchFieldVal === null) {
        searchFieldVal = '';
      }
      window.localStorage.setItem("search_filter", $('.search-field').val());
      $.post("#{save_settings_broker_dashboard_path}", {filter: searchFieldVal, selected_organization_id: parseInt(selectedOrganizationId)}, function(response) {
      });
    });
  });
