%div{id: 'todo_current', class: 'tab-pane active js-todo-current todos-table-inserted'}
  .table-responsive
    %span#todos_current_count.counter
      = I18n.t("stats.records", count: @todos&.current&.length.to_i)
    %table.table.table-striped.sortable
      %thead
        %tr
          %th
          %th.sortable{id: 'todo_date'}= t('broker_dashboard.todo_table.date')
          %th.sortable{id: 'todo_todo'}= t('broker_dashboard.todo_table.todo')
          %th.sorttable_nosort= t('broker_dashboard.todo_table.description')
          %th.sorttable_nosort.pull-right= t('broker_dashboard.todo_table.postpone')
      %tbody.list
        - if @todos&.current&.count == 0

          %tr
            %td{colspan: 5}= "Es sind noch keine Todo in deiner Region erfasst"
        - @todos&.current&.each do |todo|
          %tr{ class: "organization organization-#{todo.organization_id}" }
            - sortable_date = todo.created_at.strftime("%Y%m%d%H%M%S")
            %td.completed
              - if todo.manual_completion
                %a.js-todo-completed{href: "#", data: {url: "#{url_for completed_broker_todo_path(todo.id)}", url_undo: "#{url_for uncompleted_broker_todo_path(todo.id)}"}}
                  %i.fa.fa-2x.fa-check-circle
            %td.date{sorttable_customkey: sortable_date}
              = todo.created_at.strftime("%d.%m.%Y")
            %td.title
              = todo.todotype.title
            %td.description
              - if todo.record_type == 'job'
                = link_to 'Job: ' + todo.job.title, edit_broker_job_path(todo.job)
              - elsif todo.record_type == 'provider'
                = link_to 'Anbieterln: ' + todo.provider.name, edit_broker_provider_path(todo.provider)
              - elsif todo.record_type == 'seeker'
                = link_to 'JugendlicheR: ' + todo.seeker.name, edit_broker_seeker_path(todo.seeker)
              - elsif todo.record_type == 'allocation'
                %a{href: "#{url_for broker_job_allocation_path(todo.job, todo.seeker)}"}
                  = 'JugendlicheR: ' + todo.seeker.name
                  %br
                  = 'Anbieterln: ' + todo.provider.name
                  %br
                  = 'Job: ' + todo.job.title
            %td
              %span.sj-postpone.js-postpone{data: {url: broker_todo_path(todo.id), todo_type: 'current'}}
                %i.fa.fa-2x.fa-clock.pull-right.safari-fix
%div{id: 'todo_postponed', class: 'tab-pane js-todo-postponed'}
  .table-responsive
    %span#todos_postponed_count.counter
      = I18n.t("stats.records", count: @todos&.postponed&.length.to_i)
    %table.table.table-striped.sortable
      %thead
        %tr
          %th.sortable{id: 'todo_date'}= t('broker_dashboard.todo_table.date')
          %th.sortable{id: 'todo_todo'}= t('broker_dashboard.todo_table.todo')
          %th.sorttable_nosort= t('broker_dashboard.todo_table.description')
          %th.sorttable_nosort
          %th.sorttable_nosort.pull-right= t('broker_dashboard.todo_table.postpone')
          %th.sortable= t('broker_dashboard.todo_table.date')
      %tbody.list
        - if @todos&.postponed&.count == 0

          %tr
            %td{colspan: 5}= "Es sind noch keine Todo in deiner Region erfasst"
        - @todos&.postponed&.each do |todo|
          %tr{ class: "organization organization-#{todo.organization_id}" }
            - sortable_date = todo.created_at.strftime("%Y%m%d%H%M%S")
            %td.completed
              - if todo.manual_completion
                %a.js-todo-completed{href: "#", data: {url: "#{url_for completed_broker_todo_path(todo.id)}", url_undo: "#{url_for uncompleted_broker_todo_path(todo.id)}"}}
                  %i.fa.fa-2x.fa-check-circle
            %td.date{sorttable_customkey: sortable_date}
              = todo.created_at.strftime("%d.%m.%Y")
            %td.title
              = todo.todotype.title
            %td.description
              - if todo.record_type == 'job'
                = link_to 'Job: ' + todo.job.title, edit_broker_job_path(todo.job)
              - elsif todo.record_type == 'provider'
                = link_to 'Anbieterln: ' + todo.provider.name, edit_broker_provider_path(todo.provider)
              - elsif todo.record_type == 'seeker'
                = link_to 'JugendlicheR: ' + todo.seeker.name, edit_broker_seeker_path(todo.seeker)
              - elsif todo.record_type == 'allocation'
                %a{href: "#{url_for broker_job_allocation_path(todo.job, todo.seeker)}"}
                  = 'JugendlicheR: ' + todo.seeker.name
                  %br
                  = 'Anbieterln: ' + todo.provider.name
                  %br
                  = 'Job: ' + todo.job.title
            %td
              %span.sj-postpone.js-postpone{data: {url: broker_todo_path(todo.id), 'todo-type' => 'postponed'}}
                %i.fa.fa-2x.fa-clock.pull-right.safari-fix
            %td
              = todo.postponed.strftime("%d.%m.%Y")
