%div.row
  %div.col-md-6
    = link_to t('provider_dashboard.new_job'), new_provider_job_path, class: 'btn btn-success'
  %div.col-md-6.align-right
    = link_to "Vertrag Download", contract_provider_dashboard_url, target: '_blank', class: 'btn contract-btn'


%h3= t('provider_dashboard.table')
.table-responsive
  %table.table.table-striped
    %tr
      %th.col-md-2= t('activerecord.attributes.job.status')
      %th.col-md-10= t('activerecord.attributes.job.title')

    - if @jobs.size == 0
      %tr
        %td{ colspan: 2 }= t('provider.jobs.index.no_jobs')

    - @jobs.each do |job|
      %tr{ class: job_status_class(job) }
        %td.col-md-2
          = job_label(job)
        %td.col-md-10
          = link_to job.title, edit_provider_job_path(job)