= simple_form_for([:broker, @region], html: { novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  %fieldset
    %legend
      = t('legends.region')
      %i.fa.fa-2x.fa-home.pull-right
    .form-actions.section-margins
      = f.button :submit, t('common.edit'), class: 'btn btn-primary'

    .form-inputs.section-margins
      = f.input :name, required: true, label: 'Name der Region'

    %div.row.section-margins
      %div.col-xs-12
        %label
          Einzugsgebiet

      %div.col-xs-3.section-margins
        -#%input.form-control.search{type: 'text', class: 'search-field', placeholder: 'PLZ oder Ortschaft'}
        -#= form_tag autocomplete_place_zip_broker_places_path do
        = autocomplete_field_tag 'zip_name', '', autocomplete_place_zip_broker_places_path, :size => 75,
            'data-auto-focus' => true, class: 'js-places-autocomplete form-control search-field', placeholder: 'PLZ oder Ortschaft'
        %i.fa.fa-2x.fa-search.delete-icon
      %div.col-xs-12.js-places-tags
        - @places.each do |place|
          %span.place-tag
            %i.fa.fa-times-circle
            = "#{place.zip} #{place.province}"

    = render 'broker/organizations/list.html.haml'
    = render 'broker/list.html.haml'

    %label
      %div
        Logo
    .row
      .col-xs-4
        = image_tag @region.logo, class: 'img-responsive'
        = f.file_field :logo
        %div.help-block
          Empfohlene Grösse ist 100x100 Pixels

  .form-actions
    = f.button :submit, t('common.edit'), class: 'btn btn-primary'


%ul.nav.nav-pills
  %li= link_to t('common.back'), broker_dashboard_path

:javascript
  $('.js-places-autocomplete').bind('railsAutocomplete.select', function(event, data){
    /* Do something here */
    $.ajax({
      url: "#{add_place_to_region_broker_places_path}",
      type: 'POST',
      data: {id: data.item.id}
      success: function(result) {
        $('.js-places-tags').prepend("<span class=\"place-tag\"><i class=\"fa fa-times-circle\"></i>"+data.item.value+"</span>")
      },
      errors: function(result){
        alert(result.responseJSON.error)
      }
    });
    alert(data.item.id);
  });