%div.modal.fade{id: "active_to_finished_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Anstellung beended"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %textarea.form-control.resize-vertical.textarea{rows: '5'}
          = "Hallo #{@allocation.seeker.name}"
          = preserve '&#x000A;'
          = "Deine Anstellung bei #{@allocation.job.provider.name} ist abgeschlossen."
          = preserve '&#x000A;'
          = "Danke für deine Arbeit!"   
        %br
        - if @allocation.seeker.app_user_id.nil?
          %p
            = "Keine App für Messaging installiert. Per Telefon Kontakt aufnehmen"
            %a{href: "tel:#{@allocation.seeker.mobile}"}
              = @allocation.seeker.mobile
        %button.btn.btn-success.change_state
          = "Anstellung beended"
      %div.modal-footer
        = render 'messages'