%div.modal.fade{id: "active_to_canceled_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Anstellung abbrechen"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %textarea.form-control.resize-vertical
          = "Hallo #{@allocation.seeker.name}"
          = "Deine Anstellung bei #{@allocation.provider.name} wurde beendet."
          = "Für Fragen schreibe uns hier."          
        %br
        %button.btn.btn-success.cancel_state
          = "Anstellung abbrechen"
      %div.modal-footer
        = render 'messages'