
.form-horizontal.sj-label-left
  .form-group
    = label_tag :last_change,  "Datum", class: "control-label col-xs-12 col-md-4 col-lg-3"
    .col-xs-12.col-md-8.col-lg-9
      = allocation.last_change_of_state.strftime("%d.%m.%Y")
.form-horizontal.sj-label-left
  .form-group
    = label_tag :title,  "Job", class: "control-label col-xs-12 col-md-4 col-lg-3"
    .col-xs-12.col-md-8.col-lg-9
      = link_to job.title, edit_broker_job_path(job)

.form-horizontal.sj-label-left.js-feedback-container
  .form-group
    = label_tag :feedback_seeker,  "Jugendliche_r", class: "control-label col-xs-12 col-md-4 col-lg-3"
    .col-xs-12.col-md-8.col-lg-9
      = link_to allocation.seeker.name, edit_broker_seeker_path(allocation.seeker)
      - if @allocation.active? or @allocation.finished?
        = text_area_tag(:feedback_seeker, @allocation.feedback_seeker.to_s, class: 'form-control', placeholder: 'Feedback Jugendliche_r')
  - if @allocation.active? or @allocation.finished?
    .form-group
      .col-md-offset-4.col-lg-offset-3.col-md-8.col-lg-9
        = button_tag type: :button,  class: "btn btn-success allocation_btn js-feedback-send" , data: {url: broker_job_allocation_path(@job, @allocation), 'loading-text': 'Versendung'} do
          = "Speichern"

.form-horizontal.sj-label-left.js-feedback-container
  .form-group
    = label_tag :feedback_provider,  "Arbeitgeber_in ", class: "control-label col-xs-12 col-md-4 col-lg-3"
    .col-xs-12.col-md-8.col-lg-9
      = link_to allocation.job.provider.name, edit_broker_provider_path(allocation.job.provider)
      - if @allocation.active? or @allocation.finished?
        = text_area_tag(:feedback_provider, @allocation.feedback_provider.to_s, class: 'form-control', placeholder: 'Feedback Arbeitgeber_in')
  - if @allocation.active? or @allocation.finished?
    .form-group
      .col-md-offset-4.col-lg-offset-3.col-md-8.col-lg-9
        = button_tag type: :button,  class: "btn btn-success allocation_btn js-feedback-send" , data: {url: broker_job_allocation_path(@job, @allocation), 'loading-text': 'Versendung'} do
          = "Speichern"