%div.modal.fade.js-finished-to-active-modal-rc{id: "finished_to_active_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Anstellung Reaktivieren"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %div.form-control.resize-vertical.textarea{contenteditable: true}
          = "Hallo #{@allocation.seeker.name}"
          %br
          = "Wir haben dein Anstellung bei #{@allocation.job.provider.name} reaktiviert."
          %br
          = "Es freut uns, dass du wieder für #{@allocation.job.provider.name} arbeitest!"
          %br
          = "Für Fragen schreibe uns hier."
        %br
        - if @allocation.seeker.app_user_id.nil?
          %p
            = "Keine App für Messaging installiert. Per Telefon Kontakt aufnehmen"
            %a{href: "tel:#{@allocation.seeker.mobile}"}
              = @allocation.seeker.mobile
        - if ENV['ROCKET_CHAT_URL'].blank?
          %button.btn.btn-success.js-change-state
            = "Anstellung Reaktivieren"
        - else
          %button.btn.btn-success.js-change-state.js-finished-to-active-rc{data: {href: "#{message_broker_rocketchats_path}"}}
            = "Anstellung Reaktivieren"
      %div.modal-footer
        = render 'messages'
