%div.modal.fade.js-finished-to-nothing-modal-rc{id: "finished_to_nothing_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Nachricht senden"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %div.form-control.resize-vertical.textarea{contenteditable: true}
          = "Hallo #{@allocation.seeker.name}"
        %br
        - if @allocation.seeker.app_user_id.nil?
          %p
            = "Keine App für Messaging installiert. Per Telefon Kontakt aufnehmen"
            %a{href: "tel:#{@allocation.seeker.mobile}"}
              = @allocation.seeker.mobile
        - if ENV['ROCKET_CHAT_URL'].blank?
          %button.btn.btn-success.prevail_state
            = "Nachricht senden"
        - else
          %button.btn.btn-success.prevail_state.js-finished-to-nothing-rc{data: {href: "#{message_broker_rocketchats_path}"}}
            = "Nachricht senden"
      %div.modal-footer
        = render 'messages'
