%div.modal.fade{id: "finished_to_active_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Anstellung Reaktivieren"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %textarea.form-control.resize-vertical{rows: '5'}
          = "Hallo #{@allocation.seeker.name}"
          = preserve '&#x000A;'
          = "Wir haben dein Anstellung bei #{@allocation.job.provider.name} reaktiviert."
          = preserve '&#x000A;'
          = "Es freut uns, dass du wieder für #{@allocation.job.provider.name} arbeitest!"
          = preserve '&#x000A;'
          = "Für Fragen schreibe uns hier."
        %br
        - if @allocation.seeker.app_user_id.nil?
          %p
            = "Keine App für Messaging installiert. Per Telefon Kontakt aufnehmen"
            %a{href: "tel:#{@allocation.seeker.mobile}"}
              = @allocation.seeker.mobile
        %button.btn.btn-success.change_state
          = "Anstellung Reaktivieren"
      %div.modal-footer
        = render 'messages'