%div.modal.fade{id: "open_to_active_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Anstellen"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %textarea.form-control.resize-vertical
          = "Hallo #{@allocation.seeker.name}, du hast den Job #{@allocation.job.title} erhalten! Melde dich doch so schnell wie möglich unter #{@allocation.job.provider.phone} oder #{@allocation.job.provider.mobile}"
        %br
        %button.btn.btn-success.change_state
          = "Anstellen"
      %div.modal-footer
        = render 'messages'