%div.modal.fade{id: "open_to_rejected_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Bewerbung ablehnen"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %div.form-control.resize-vertical.textarea{contenteditable: true}
          = "Hallo #{@allocation.seeker.name}"
          %br
          = "Leider konnte deine Bewerbung für \"#{@allocation.job.title}\" nicht berücksichtigt werden."
          %br
          = "Vielleicht klappt es aber beim nächsten Mal! Wir freuen uns weiterhin auf deine Bewerbungen für Jobs."
          %br
          = "Hast du noch Fragen dazu? Schreib uns hier."  
        %br
        - if @allocation.seeker.app_user_id.nil?
          %p
            = "Keine App für Messaging installiert. Per Telefon Kontakt aufnehmen"
            %a{href: "tel:#{@allocation.seeker.mobile}"}
              = @allocation.seeker.mobile
        %button.btn.btn-success.cancel_state
          = "Bewerbung ablehnen"
      %div.modal-footer
        = render 'messages'
