%div.modal.fade{id: "proposal_to_active_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Anstellen"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %div.form-control.resize-vertical.textarea{contenteditable: true}
          = "Hallo #{@allocation.seeker.name}"
          %br
          = "Du hast den Job «#{@allocation.job.title}»< erhalten! Melde dich doch so schnell wie möglich für den Job bei #{@allocation.job.provider.firstname} #{@allocation.job.provider.lastname}:"
          %br
          %a{href: "tel:#{@allocation.job.provider.phone}"}= "#{@allocation.job.provider.phone}"
          %br
          %a{href: "tel:#{@allocation.job.provider.mobile}"}= "#{@allocation.job.provider.mobile}"
          %br
          = "Für Fragen schreibe uns hier."
        %br
        - if @allocation.seeker.app_user_id.nil?
          %p
            = "Keine App für Messaging installiert. Per Telefon Kontakt aufnehmen"
            %a{href: "tel:#{@allocation.seeker.mobile}"}
              = @allocation.seeker.mobile
        %button.btn.btn-success.change_state
          = "Anstellen"
      %div.modal-footer
        = render 'messages'