%div.modal.fade.js-proposal-to-deleted-modal-rc{id: "proposal_to_deleted_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Vorschlag löschen"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %div.form-control.resize-vertical.textarea{contenteditable: true}
          = "Hallo #{@allocation.seeker.name}"
          %br
          = "Wir haben den Job-Vorschlag gelöscht."
          %br
          = "Wir freuen uns weiterhin auf deine Bewerbungen!"
          %br
          = "Für Fragen schreibe uns hier"
        %br
        - if @allocation.seeker.app_user_id.nil?
          %p
            = "Keine App für Messaging installiert. Per Telefon Kontakt aufnehmen"
            %a{href: "tel:#{@allocation.seeker.mobile}"}
              = @allocation.seeker.mobile
        %button.btn.btn-success.cancel_state
          = "Vorschlag löschen"
      %div.modal-footer
        = render 'messages'
