%div.modal.fade.js-retracted-to-active-modal-rc{id: "retracted_to_active_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Anstellen"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %div.form-control.resize-vertical.textarea{contenteditable: true}
          = @get_job_msg.html_safe
        %br
        - if @allocation.seeker.app_user_id.nil?
          %p
            = "Keine App für Messaging installiert. Per Telefon Kontakt aufnehmen"
            %a{href: "tel:#{@allocation.seeker.mobile}"}
              = @allocation.seeker.mobile
        - if ENV['ROCKET_CHAT_URL'].blank?
          %button.btn.btn-success.js-change-state
            = "Anstellen"
        - else
          %button.btn.btn-success.js-change-state.js-retracted-to-active-rc{data: {href: "#{message_broker_rocketchats_path}"}}
            = "Anstellen"
      %div.modal-footer
        = render 'messages'
