%div.modal.fade{id: "retracted_to_active_modal"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= "Anstellen"
      %div.modal-body
        %input{type: "checkbox", checked: "true"}
          = "Nachricht an "
          = @allocation.seeker.name
          = ":"
        %textarea.form-control.resize-vertical{rows: '5'}
          = "Hallo #{@allocation.seeker.name}"
          = preserve '&#x000A;'
          = "Du hast den Job <b>«#{@allocation.job.title}»</b> erhalten! Melde dich doch so schnell wie möglich für den Job bei #{@allocation.job.provider.firstname} #{@allocation.job.provider.lastname}:"
          = preserve '&#x000A;'
          = "#{@allocation.job.provider.phone}"
          = preserve '&#x000A;'
          = "#{@allocation.job.provider.mobile}"
          = preserve '&#x000A;'
          = "Für Fragen schreibe uns hier."
        %br
        %button.btn.btn-success.change_state
          = "Anstellen"
      %div.modal-footer
        = render 'messages'