<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <%if Rails.env.production?%>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <% else %>
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <% end %>
  <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
</head>
<body>
<div id="page-2" class="alwaysbreak page page-default">
  <div class="banner-container banner-short">

    <% if @provider&.organization&.background&.present? %>
      <img id="baner" src="<%= @provider.organization.background.url(:web) %>" width="100%">
    <% else %>
      <img id="baner" src="<%= wicked_pdf_asset_base64 'header-pic.jpg' %>" width="100%">
    <% end %>
    <div class="banner-title white-text">Taschengeldjobs<br/>
      <span>Auftragsvereinbarung</span></div>
    <div class="group-logos">
      <% if @provider&.organization&.logo&.present? %>
          <img class="others-logo-img" src="<%= @provider.organization.logo.url(:web, :normal) %>">
      <% end %>
      <% if @provider&.organization&.regions&.first&.logo&.present? %>
          <img class="others-logo-img" src="<%= @provider.organization.regions.first.logo.url(:web, :normal) %>">
      <% end %>
      <img class="smalljobs-logo-img" src="<%= wicked_pdf_asset_base64 'sj-logo-white.png' %>">
    </div>
  </div>

  <div class="body-container">

  <div class="font-bigger margin-top-40">
    <%= @job.title %>
  </div>
  <div class="row standard-text">
    <div class="column">
      <%= @allocation.last_change_of_state.strftime("%d.%m.%Y") %>
    </div>

    <div class="column text-center">
      <% if @job.duration.present? %>
        Dauer: ca <%= @job.duration %> Stunde(n)
      <% end %>
    </div>

    <div class="column text-right">
      Lohn:

        <% if @job.salary_type == 'fixed' %>
        <%= t('jobs.fixed_price', salary: number_to_currency(@job.salary, unit: get_currency(@job.region.country))) %>

        <% elsif @job.salary_type == 'hourly' %>
        <%= t('jobs.hourly_rate', salary: number_to_currency(@job.salary, unit: get_currency(@job.region.country))) %>

        <% elsif @job.salary_type == 'hourly_per_age' %>
        <%= t('jobs.hourly_rate', salary: number_to_currency(get_age(@allocation.seeker.date_of_birth) * @job.organization.wage_factor - @job.organization.salary_deduction, unit: get_currency(@job.region.country))) %>
        <% end %>
    </div>

  </div>

  <div class="standard-text margin-top-20">
    <%=simple_format_for_pdf(@job.short_description)  %>
  </div>

  <div class="standard-text margin-top-20">
    <%=simple_format_for_pdf(@job.long_description.to_s)  %>
  </div>

  <div class="font-bigger font-bold margin-top-40">
    1. Vor der Arbeit unterschreiben
  </div>
  <div class="standard-text margin-top-20">
    Ich stimme den gesetzlichen Regelungen des Jugendschutzes und den Bestimmungen von Smalljobs zu. Details zu beiden
    sind auf Seite 2 und auf www.smalljobs.ch/jugendschutz aufgeführt.
  </div>

  <div class="font-bigger margin-top-20">
    Arbeitgeber_in:
    <%= @provider&.firstname %>
    <%= @provider&.lastname %>,
    <%= @provider&.phone_or_mobile %>
  </div>
  <div class="font-smaller padding-bottom-5">
    <%= @provider&.street %>,
    <%= @provider&.place&.zip %>
    <%= @provider&.place&.name %>
  </div>
  <div class="row">
    <div class="column column-left">
      <div class="signature">
      </div>
      <div class="font-smaller">Ort, Datum</div>
    </div>
    <div class="column column-right">
      <div class="signature">
      </div>
      <div class="font-smaller">Unterschrift <%= @provider&.name %></div>
    </div>
  </div>

  <div class="font-bigger margin-top-20">
    Jugendliche_r:
    <%= @allocation.seeker.firstname %>
    <%= @allocation.seeker.lastname %>,
    <%= @allocation.seeker.phone_or_mobile %>
  </div>
  <div class="font-smaller padding-bottom-5">
    <%= @allocation.seeker.street %>,
    <%= @allocation.seeker.place.zip %>
    <%= @allocation.seeker.place.name %>
  </div>
    <div class="row">
      <div class="column column-left">
        <div class="signature">
        </div>
        <div class="font-smaller">Ort, Datum</div>
      </div>
      <div class="column column-right">
        <div class="signature">
        </div>
        <div class="font-smaller">Unterschrift <%= @allocation.seeker.name %></div>
      </div>
    </div>

  <div class="font-bigger margin-top-40 font-bold padding-bottom-5">
    2. Nach der Arbeit ausfüllen und Lohn an Jugendliche_n auszahlen
  </div>
  <% if @provider&.organization&.signature_on_contract %>
    <table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" bordercolor="#cbe7d5" class="green-table height-td">
      <thead>
      <tr>
        <th>
          Datum
        </th>
        <th>
          Dauer (h)
        </th>
        <th>
          <%= get_currency(@provider.place.region.country) %>
        </th>
        <th>
          Unterschrift Jugendliche_r
        </th>
      </tr>
      </thead>
      <tbody>
      <tr><td colspan="4"></td></tr>
      <tr><td colspan="4"></td></tr>
      <tr><td colspan="4"></td></tr>
      <tr><td colspan="4"></td></tr>

      </tbody>
    </table>
  <% end %>


  <footer class="footer-right">
    *www.jugend.app <span>Seite 1 von 2</span>
  </footer>
  </div>
</div>
<div id="page-3" class="page alwaysbreak page-default">
  <div class="body-container">
  <%= raw @seeker.region.rules.presence %>
  <footer class="footer-right">
    Seite 2 von 2
  </footer>
  </div>
</div>
</body>
</html>
