.jumbotron.organization{ style: @organization.background.present? ? "background-image: url(#{ @organization.background.url(:web) })" : ''}
  - if @organization.logo.present?
    = image_tag(@organization.logo.url(:web, :normal), alt: @organization.name)
  - else
    %h1= @region.name
  %p.lead
    = "Die Jobbörse für Sackgeldjobs und eitan aliquip quis cardigan american apparel, butcher voluptate nisi qui cardigan american apparel."
    = link_to "Mehr über uns", about_us_path


%h1= "Job anbieten"
%p.lead= "Sie haben einen Job zu vergeben? orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna"
= link_to "Job ausschreiben", new_provider_registration_path, class: 'btn btn-success'

%br
%br
%br
%h1= "Auf Job bewerben"
%p.lead= "Offene Jobs"
.table-responsive
  %table.table.table-striped
    - if @jobs.size == 0
      %tr
        %td{ colspan: 2 }= t('provider.jobs.index.no_jobs')

    - @jobs.each do |job|
      %tr
        %td
          = link_to job.title, app_links_path
        %td
          = job.place.name

%br
%br
%h1= "Kontakt"
%h2= t('regions.show.address')
%address
  = @organization.name
  %br
  = @organization.street
  %br

  = @organization.place.zip + ' ' + @organization.place.name
  %br
  %br

  - if @organization.phone
    %abbr{ title: t('activerecord.attributes.provider.phone') } T:
    = @organization.phone.phony_formatted
    %br

  - if @organization.email
    %a{ href: 'mailto:#' }= @organization.email
    %br

  - if @organization.website
    = link_to @organization.website, @organization.website
    %br

%h2= "Orte"
%p.places= @organization.places.pluck(:name).to_sentence

%h2= t('regions.show.people')
- @organization.brokers.order(:lastname, :firstname).each_with_index do |broker, index|
  - if index > 0
    %hr

  %h4= broker.name

  %p
    - if broker.phone
      %abbr{ title: t('activerecord.attributes.provider.phone') } T:
      = broker.phone.phony_formatted
      %br

    - if broker.mobile
      %abbr{ title: t('activerecord.attributes.provider.mobile') } M:
      = broker.mobile.phony_formatted

  - if broker.contact_availability.present?
    %p.available
      = succeed ':' do
        %strong= t('regions.show.available')

      = broker.contact_availability

  %p.regions
    = succeed ':' do
      %strong= t('regions.show.responsible')

    = broker.places.pluck(:name).to_sentence

