.jumbotron.organization{ style: @organization.background.present? ? "background-image: url(#{ @organization.background.url(:web) })" : ''}
  - if @organization.logo.present?
    = image_tag(@organization.logo.url(:web, :normal), alt: @organization.name)
  - else
    %h1= @organization.name

  .row.signup
    .col-lg-6
      = link_to t('regions.show.signup_provider'), new_provider_registration_path, class: 'btn btn-lg btn-success'
    .col-lg-6.top-buffer
      = link_to t('regions.show.signup_seeker'), new_seeker_registration_path, class: 'btn btn-lg btn-success'

%h1= @organization.name
%p.lead= @organization.description
%p.places= t('regions.show.places', places: @organization.places.pluck(:name).to_sentence)

.row
  .col-lg-6

    %h2= t('regions.show.address')
    %address
      = @organization.name
      %br
      = @organization.street
      %br

      = @organization.place.zip + ' ' + @organization.place.name
      %br
      %br

      - if @organization.phone
        %abbr{ title: t('activerecord.attributes.provider.phone') } T:
        = @organization.phone.phony_formatted
        %br

      - if @organization.email
        %a{ href: 'mailto:#' }= @organization.email
        %br

      - if @organization.website
        = link_to @organization.website, @organization.website
        %br

  .col-lg-6

    %h2= t('regions.show.people')
    - @organization.brokers.order(:lastname, :firstname).each_with_index do |broker, index|
      - if index > 0
        %hr

      %h4= broker.name

      %p
        - if broker.phone
          %abbr{ title: t('activerecord.attributes.provider.phone') } T:
          = broker.phone.phony_formatted
          %br

        - if broker.mobile
          %abbr{ title: t('activerecord.attributes.provider.mobile') } M:
          = broker.mobile.phony_formatted

      - if broker.contact_availability.present?
        %p.available
          = succeed ':' do
            %strong= t('regions.show.available')

          = broker.contact_availability

      %p.regions
        = succeed ':' do
          %strong= t('regions.show.responsible')

        = broker.places.pluck(:name).to_sentence

%h1= t('regions.show.jobs')

- @jobs.each_slice(2) do |left, right|
  .row
    .col-lg-6
      = render('shared/job', job: left)
    - if right.present?
      .col-lg-6
        = render('shared/job', job: right)

