= simple_form_for([:seeker, @job, @application], html: { novalidate: true }) do |f|
  = f.input :seeker_id, as: :hidden, input_html: { value: current_seeker.id }

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  %fieldset
    %legend
      = t('legends.application')
      %i.fa.fa-2x.fa-envelope.pull-right

    .form-inputs
      = f.association :job, required: true, collection: [@job], include_blank: false
      = f.input :message

  .form-actions
    - if @application.new_record?
      = f.button :submit, t('common.create'), class: 'btn btn-primary'
    - else
      = f.button :submit, t('common.edit'), class: 'btn btn-primary'
