%h1= t('seeker.jobs.applications.index.title', title: @job.title)
%p.lead= t('seeker.jobs.applications.lead')

.table-responsive
  %table.table.table-striped
    %tr
      %th= t('activerecord.attributes.application.message')
      %th{ colspan: 2 }

    - if @applications.size == 0
      %tr
        %td{ colspan: 3 }= t('seeker.jobs.applications.index.no_applications')

    - @applications.each do |application|
      %tr
        %td= application.message

        %td= link_to '', edit_seeker_job_application_path(@job, application), class: 'fa fa-pencil', title: t('common.edit_title', who: application.name)
        %td= link_to '', seeker_job_application_path(@job, application), method: :delete, title: t('common.destroy_title', who: application.name), data: { confirm: t('common.sure') }, class: 'fa fa-trash-o'

= link_to t('seeker.jobs.applications.index.add_new'), new_seeker_job_application_path(@job), class: 'btn btn-primary'

%ul.nav.nav-pills
  %li= link_to t('common.back'), seeker_job_path(@job)
