- allocations = @job.allocations.application_open
- if allocations.count > 0
  %h4= "Bewerbungen"
  %ul.allocations-list
    - for allocation in allocations
      %li.allocations-list-item
        = link_to "#{allocation.seeker.name} #{allocation.last_change_of_state.strftime("%d.%m.%Y")}", broker_job_allocation_path(@job, allocation.seeker)

- allocations = @job.allocations.application_rejected
- if allocations.count > 0
  %h4= "Bewerbungen abgelehnt"
  %ul.allocations-list
    - for allocation in allocations
      %li.allocations-list-item
        = link_to "#{allocation.seeker.name} #{allocation.last_change_of_state.strftime("%d.%m.%Y")}", broker_job_allocation_path(@job, allocation.seeker)

- allocations = @job.allocations.proposal
- if allocations.count >= 0
  %h4= "Job Vorschläge"
  = simple_form_for([:broker, @job], html: { novalidate: true }) do |f|
    - seekers_collection = []
    - current_broker.seekers.find_each do |seeker|
      - if Allocation.find_by(seeker_id: seeker.id, job_id: @job.id) == nil
        - seekers_collection.append(seeker)
    - seekers_collection.sort! { |a,b| a.name.downcase <=> b.name.downcase}
    - seekers_collection.unshift(Seeker.new(firstname: "Jugendliche"))
    = f.input :seekers, collection: seekers_collection, include_blank: false, label: false
  %ul.allocations-list
    - for allocation in allocations
      %li.allocations-list-item
        = link_to "#{allocation.seeker.name} #{allocation.last_change_of_state.strftime("%d.%m.%Y")}", broker_job_allocation_path(@job, allocation.seeker)

- allocations = @job.allocations.active
- if allocations.count > 0
  %h4= "Aktive Anstellungen"
  %ul.allocations-list
    - for allocation in allocations
      %li.allocations-list-item
        = link_to "#{allocation.seeker.name} #{allocation.last_change_of_state.strftime("%d.%m.%Y")}", broker_job_allocation_path(@job, allocation.seeker)

- allocations = @job.allocations.finished
- if allocations.count > 0
  %h4= "Beendete Anstellungen"
  %ul.allocations-list
    - for allocation in allocations
      %li.allocations-list-item
        = link_to "#{allocation.seeker.name} #{allocation.last_change_of_state.strftime("%d.%m.%Y")}", broker_job_allocation_path(@job, allocation.seeker)

- allocations = @job.allocations.cancelled
- if allocations.count > 0
  %h4= "Abgebrochene Anstellungen"
  %ul.allocations-list
    - for allocation in allocations
      %li.allocations-list-item
        = link_to "#{allocation.seeker.name} #{allocation.last_change_of_state.strftime("%d.%m.%Y")}", broker_job_allocation_path(@job, allocation.seeker)

:javascript
  $(document).ready(function() {
    $("#job_seekers").on('change', function() {
      if($("#job_seekers").val() != null) {
        window.location.href = "/broker/jobs/" + "#{@job.id}" + "/allocations/" + $("#job_seekers").val() + "?create=1";
      }
    });
  });
