= simple_form_for([:broker, @job], html: { novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  .form-actions
    - if @job.new_record?
      = f.button :submit, t('common.create'), class: 'btn btn-primary btn-success'
    - else
      = f.button :submit, t('common.edit'), class: 'btn btn-primary btn-success'

  %fieldset
    .form-inputs
      = f.input :state, as: :radio_buttons, collection: [{value: 'running', label: t('activerecord.attributes.job.running_html')}, {value: 'public', label: t('activerecord.attributes.job.public_html')}, {value: 'hidden', label: t('activerecord.attributes.job.hidden_html')}, {value: 'feedback', label: t('activerecord.attributes.job.feedback_html')}], label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, label: false, inline_label: '', item_wrapper_class: 'control control--radio'

  %fieldset
    %legend
      = "Titel"
    .form-inputs
      = f.input :title, required: true, label: false
    - if !@job.new_record?
      %p= "Erstellt: #{@job.created_at.strftime("%d.%m.%Y")}"

  %fieldset
    %legend
      = "Notizen (nur intern sichtbar)"
    .form-inputs
      = f.input :notes, label: false


  %fieldset
    %legend
      = "Anbieter"
    - if @job.new_record?
      = f.association :provider, collection: current_broker.providers.order(:firstname, :lastname), required: true, include_blank: false, input_html: {'data-live-search':'true', class: 'selectpicker', 'data-none-selected-text': 'Nichts ausgewählt'}
    - else
      %p
        = link_to @job.provider.name, edit_broker_provider_path(@job.provider)
        %br
        = link_to @job.provider.phone, edit_broker_provider_path(@job.provider)
        %br
        = link_to @job.provider.street, edit_broker_provider_path(@job.provider)
        %br
        = link_to @job.provider.place.custom_name, edit_broker_provider_path(@job.provider)

  %fieldset
    %legend
      = "Kurze Beschreibung"
    .form_inputs
      = f.input :short_description, label: false

  %fieldset
    %legend
      = "Lange Beschreibung"
    .form_inputs
      = f.input :long_description, label: false

  %fieldset
    %legend
      = "Arbeitsart"

    .form-inputs
      = f.association :work_category, required: true, include_blank: false, label: false, collection: WorkCategory.all.order(:name)

  %fieldset
    %legend
      = t('legends.date')

    .form-inputs
      = f.input :date_type, collection: job_date_types, include_blank: false, label: false
      = f.input :start_date, include_blank: true
      = f.input :end_date, include_blank: true

  %fieldset
    %legend
      = t('legends.salary')

    .form-inputs
      = f.input :salary_type, collection: job_salary_types, include_blank: false, label: false
      = f.input :salary, required: true, input_html: { value: @job.try(:salary) || current_region.organizations.first.default_hourly_per_age }

  %fieldset
    %legend
      = "Jugendliche"

    .form-inputs
      = f.input :manpower, require: true, label: "Benötigte Arbeitskräfte:"
      = f.input :duration, require: true, label: "Ungefähre Dauer (Stunden):", hint: false

  %fieldset
    %legend
      = "Zuständige Organisation"
    .form-inputs
      = f.association :organization, require: true, collection: current_broker.all_organizations, label: false, include_blank: false

  .form-actions
    - if @job.new_record?
      = f.button :submit, t('common.create'), class: 'btn btn-primary btn-success'
    - else
      = f.button :submit, t('common.edit'), class: 'btn btn-primary btn-success'

  - if !@job.new_record?
    .form-actions
      %a.btn.btn-success{href: "#", "data-toggle": "modal", "data-target": "#delete_job_modal"}
        = "Löschen"

    = render 'delete_modal'