= simple_form_for([:broker, @job], html: { novalidate: true }) do |f|

  - if notification = f.error_notification
    .alert.alert-danger
      = notification

  .form-actions
    - if @job.new_record?
      = f.button :submit, t('common.create'), class: 'btn btn-primary btn-success'
    - else
      = f.button :submit, t('common.edit'), class: 'btn btn-primary btn-success'

  %fieldset
    .form-inputs
      = f.input :state, as: :radio_buttons, collection: [{value: 'check', label: t('activerecord.attributes.job.running_html')}, {value: 'public', label: t('activerecord.attributes.job.public_html')}, {value: 'hidden', label: t('activerecord.attributes.job.hidden_html')}, {value: 'finished', label: t('activerecord.attributes.job.feedback_html')}], label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, label: false, inline_label: '', item_wrapper_class: 'control control--radio'

  %fieldset
    %legend
      = "Titel"
    .form-inputs
      = f.input :title, required: true, label: false
    - if !@job.new_record?
      %p= "Erstellt: #{@job.created_at.strftime("%d.%m.%Y")}"

  - unless @job.new_record?
    %fieldset
      .form-inputs
        = f.input :new_note, label: false, as: :text
        %button.btn.btn-success{id: 'comment-btn'}
          = "Kommentieren"
        - Note.where(job_id: @job.id).order(:created_at).reverse_order.each do |note|
          %hr
          %div.js-note{'data-note-id': "#{note.id}"}
            %div.row
              %div.col-md-8
                %p
                  %span.bold.margin-right-10
                    = note.broker.try(:name)
                  %span.js-note-date
                    = note.updated_at.strftime("%d.%m.%Y, %H:%M")
              %div.col-md-4.text-right
                - if note.broker.try(:id) == current_broker.id
                  %span.edit-btn.js-btn-edit
                    = "Bearbeiten"
                  %span.remove-btn{'data-note-id': "#{note.id}"}
                    = "Löschen"
              %div.col-md-12.js-comment
                = note.message
            %div.js-edit-field.edit-field
              = text_area_tag :note_edit, note.message ,class: 'text optional form-control'
              = button_tag "Abbrechen", class: "btn btn-success edit-comment-btns js-btn-note-cancel", type: 'button'
              = button_tag "Aktualisieren", class: "btn btn-success edit-comment-btns js-btn-note-update", type: 'button', data: {'update-url': broker_note_job_update_comment_path(@job, note)}
        - unless @job.notes.blank?
          %hr
          %div.row
            %div.col-md-8
              %p
                %span.bold.margin-right-10
                  = "Ältere Notizen"
          %p
            = @job.notes
        %hr

  %fieldset
    %legend
      = "Anbieter"
    - if @job.new_record?
      = f.association :provider, collection: current_broker.providers.order(:firstname, :lastname).uniq, required: true, include_blank: true, input_html: {'data-live-search':'true', class: 'selectpicker', 'data-none-selected-text': 'Nichts ausgewählt'}
    - else
      %p
        = link_to @job.provider.name, edit_broker_provider_path(@job.provider)
        %br
        = link_to @job.provider.phone, edit_broker_provider_path(@job.provider)
        %br
        = link_to @job.provider.street, edit_broker_provider_path(@job.provider)
        %br
        = link_to @job.provider.place.custom_name, edit_broker_provider_path(@job.provider)

  %fieldset
    %legend
      = "Kurze Beschreibung"
    .form_inputs
      = f.input :short_description, label: false

  %fieldset
    %legend
      = "Lange Beschreibung"
    .form_inputs
      = f.input :long_description, label: false

  %fieldset
    %legend
      = "Arbeitsart"

    .form-inputs
      = f.association :work_category, required: true, include_blank: true, label: false, collection: WorkCategory.all.order(:name), label_method: :label

  %fieldset
    %legend
      = t('legends.date')

    .form-inputs
      = f.input :date_type, collection: job_date_types, include_blank: false, label: false
      = f.input :start_date, include_blank: true
      = f.input :end_date, include_blank: true

  %fieldset
    %legend
      = t('legends.salary')

    .form-inputs
      -if @job.new_record?
        -org = current_broker.organizations.first
      -else
        -org = @job.organization
      -if org.present? && org.wage_factor != nil && org.wage_factor != 1
        = f.input :salary_type, collection: job_salary_types_with_factor(org.wage_factor, org.salary_deduction), include_blank: false, hint: t('legends.seeker_salary_hint_wage_factor', wage_factor: org.wage_factor).html_safe
      -else
        = f.input :salary_type, collection: job_salary_types, include_blank: false
      = f.input :salary, required: true, input_html: { value: @job.try(:salary)}#|| current_region.organizations.first.default_hourly_per_age }

  %fieldset
    %legend
      = "Jugendliche"

    .form-inputs
      = f.input :manpower, required: true, label: "Benötigte Arbeitskräfte:"
      = f.input :duration, required: true, label: "Ungefähre Dauer (Stunden):", hint: false

  %fieldset
    %legend
      = "Zuständige Organisation"
    .form-inputs
      - if f.object.organization_id.blank? and current_broker.all_organizations.length == 1
        - f.object.organization_id = current_broker.all_organizations.first.id
      = f.association :organization, required: true, label: false, include_blank: true,
      collection: current_broker.all_organizations

  .form-actions
    - if @job.new_record?
      = f.button :submit, t('common.create'), class: 'btn btn-primary btn-success'
    - else
      = f.button :submit, t('common.edit'), class: 'btn btn-primary btn-success'

  - if !@job.new_record?
    .form-actions
      %a.btn.btn-success{href: "#", "data-toggle": "modal", "data-target": "#delete_job_modal"}
        = "Löschen"

    = render 'delete_modal'

- if !@job.new_record?
  :javascript
    $(document).ready(function() {
      $('#comment-btn').click(function(){
        var comment = $('#job_new_note').val();
        if(comment === '') {
          return false;
        }

        $.post("#{add_comment_broker_job_path(@job)}", {comment: comment}, function(response) {
          window.location.reload();
        });

        return false;
      });

      $('.remove-btn').click(function(){
        var noteId = $(this).attr('data-note-id');

        $.post("#{remove_comment_broker_job_path(@job)}", {note_id: noteId}, function(response) {
          window.location.reload();
        })
      });
    });
