%h1= t('broker.jobs.index.title')
%p.lead= t('broker.jobs.index.lead')

%ul.nav.nav-tabs.pull-right
  %li{ class: current_filter_class }
    %a{ href: '?' }= t('filters.all')
  %li{ class: current_filter_class('without_applications')}
    %a{ href: '?without_applications=true' }= t('filters.without_applications')

.table-responsive
  %table.table.table-striped
    %tr
      %th
      %th= t('activerecord.attributes.job.provider')
      %th= t('activerecord.attributes.job.title')
      %th{ colspan: 3 }

    - if @jobs.size == 0
      %tr
        %td{ colspan: 6 }= t('broker.jobs.index.no_jobs')

    - @jobs.each do |job|
      %tr{ class: job_status_class(job) }
        %td
          = job_label(job)
        %td= job.provider.name
        %td= job.title

        %td= link_to '', broker_job_path(job), class: 'fa fa-eye', title: t('common.show_title', who: job.title)
        %td= link_to '', edit_broker_job_path(job), class: 'fa fa-pencil', title: t('common.edit_title', who: job.title)
        %td= link_to '', broker_job_path(job), method: :delete, title: t('common.destroy_title', who: job.title), data: { confirm: t('common.sure') }, class: 'fa fa-trash-o'

= link_to t('broker.jobs.index.add_new'), new_broker_job_path, class: 'btn btn-primary'

%ul.nav.nav-pills
  %li= link_to t('common.back'), broker_dashboard_path
