%h1= t('broker.jobs.show.title')
%p.lead= t('broker.jobs.show.lead')

.panel.panel-default
  .panel-body
    .label.label-info= @job.work_category.name
    .status.pull-right= job_label(@job)

    %h2= @job.title
    %p= @job.description

    .row
      .col-lg-6
        %h3= t('legends.date')
        %p= t("jobs.date_types.#{ @job.date_type }")

        - if @job.date_type == 'date'
          %p= t('jobs.at', at: l(@job.start_date, format: :long))
        - elsif @job.date_type == 'date_range'
          %p= t('jobs.between', from: l(@job.start_date), to: l(@job.end_date))

      .col-lg-6
        %h3= t('legends.salary')
        %p= t("jobs.salary_types.#{ @job.salary_type }")
        %p= number_to_currency(@job.salary)

    .row
      .col-lg-6
        %h3= t('legends.provider')
        %address
          %strong= @job.provider.name
          %br
          = @job.provider.street
          %br
          = "#{ @job.provider.place.zip } #{ @job.provider.place.name }"

      .col-lg-6
        %h3= t('legends.seekers')
        %p= t('jobs.manpower', manpower: @job.manpower)
        %p= t('jobs.duration', duration: @job.duration)

        - if @job.allocations.length == 0
          %p
            %strong= t('jobs.no_seekers_assigned')
        - else
          %p= t('jobs.seekers_assigned')

          %ul
            - @job.allocations.each do |allocation|
              %ul= link_to(allocation.seeker.name, broker_seeker_path(allocation.seeker))

%ul.nav.nav-pills.job-process
  -#%li= link_to t('jobs.proposals'), broker_job_proposals_path(@job)
  -#%li= link_to t('jobs.applications'), broker_job_applications_path(@job)
  %li= link_to t('jobs.allocations'), broker_job_allocations_path(@job)
  -#%li= link_to t('jobs.reviews'), broker_job_reviews_path(@job)

%ul.nav.nav-pills
  - if @job.state == 'created'
    %li= link_to t('jobs.activate'), activate_broker_job_path(@job), method: :post, class: 'btn btn-primary'
  %li= link_to t('common.edit'), edit_broker_job_path(@job)
  %li= link_to t('common.back'), broker_jobs_path
