!!!
%html
  %head
    %title Smalljobs

    :javascript
      history.scrollRestoration = "manual";
      var _rollbarParams = {
        "server.environment": "#{ Rails.env }",
        "server.branch": "#{ GIT_BRANCH }",
        "server.sha": "#{ GIT_COMMIT }",
        "client.javascript.code_version": "#{ GIT_COMMIT }"
      };
      _rollbarParams["notifier.snippet_version"] = "2";var _rollbar=["00abf54682cc44ea98a92588cd7a53def", _rollbarParams]; var _ratchet=_rollbar;
      (function(w,d){w.onerror=function(e,u,l){_rollbar.push({_t:'uncaught',e:e,u:u,l:l});};var i=function(){var s=d.createElement("script");
      var f=d.getElementsByTagName("script")[0];s.src="//d37gvrvc0wt4s1.cloudfront.net/js/1/rollbar.min.js";s.async=!0;
      f.parentNode.insertBefore(s,f);};if(w.addEventListener){w.addEventListener("load",i,!1);}else{w.attachEvent("onload",i);}})(window,document);

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = include_gon
    = favicon_link_tag
    = csrf_meta_tags

  %body
    .container
      .header
        %a.display-none{id: 'helpButton', href: "#", "data-toggle": "modal", "data-target": "#contextHelpModal"}
          %i.fa.fa-question-circle
        - if request.subdomains.first == 'www'
          = render_navigation(context: :header_main, expand_all: true)
        - else
          = render_navigation(context: :header_region, expand_all: true)

        %h3
          - if broker_signed_in?
            = link_to t('pages.layout.title'), broker_dashboard_path
          - elsif provider_signed_in?
            = link_to t('pages.layout.title'), provider_dashboard_path
          - else
            = link_to t('pages.layout.title'), root_path

      .notifications
        - [:notice, :error, :alert].each do |level|
          - unless flash[level].blank?
            .alert{ class: flash_class(level) }
              %a.close{ href: '#' } ×
              = content_tag :p, flash[level]

      = yield

      .footer
        - if request.subdomains.first == 'www'
          = render_navigation(context: :footer_main, expand_all: true)
        - else
          = render_navigation(context: :footer_region, expand_all: true)
    - if ENV['ROCKET_CHAT_URL'].present?
      = render partial: "/rocketchats/iframe"
      .js-rocketchat-present
      .js-rocketchat-url{data: {url: ENV['ROCKET_CHAT_URL']}}


    %div.modal.fade{id: "contextHelpModal"}
      %div.modal-dialog
        %div.modal-content
          %div.modal-header
            %button.close{"data-dismiss": "modal", type: "button"} &times;
            %h2{id: 'helpModalTitle'}
          %div.modal-body{id: 'helpModalContent'}
          %div.modal-footer
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47562460-1', 'smalljobs.ch');
      ga('send', 'pageview');
